<div class="row login-container">
  <div class="col-8">
    <mat-tab-group mat-stretch-tabs
                   mat-align-tabs="start"
                   class="mat-elevation-z4"
                   [selectedIndex]="tabIndex"
                   (selectedIndexChange)="changeTab($event)">
      <mat-tab [disabled]="loadingLogin$ | async">
        <ng-template mat-tab-label>
          <span class="material-icons">
            login
          </span>
          AUTENTIFICARE
        </ng-template>
        <mat-progress-bar *ngIf="(loadingLogin$ | async)"
                          mode="indeterminate"></mat-progress-bar>
        <mat-card class="login-card"
                  style="font-size: 1.2rem;">
          <mat-card-content>
            <div class="row">
              <div class="col-12 text-center mb-4">
                Bine ați venit în
                <span class="primary">
                  AZET D.T.
                </span>
              </div>
              <div class="col-6 text-center">
                <button mat-stroked-button
                        type="button"
                        class="py-2"
                        color="primary"
                        [disabled]="loadingLogin$ | async">
                  <i class="fab fa-google"></i>
                  Autentifică-te cu GOOGLE
                </button>
              </div>
              <div class="col-6 text-center">
                <button mat-stroked-button
                        type="button"
                        class="py-2"
                        color="primary"
                        [disabled]="loadingLogin$ | async">
                  <i class="fab fa-facebook"></i>
                  Autentifică-te cu FACEBOOK
                </button>
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div class="row justify-content-center">
                  <div class="col-4 align-self-center">
                    <mat-divider></mat-divider>
                  </div>
                  <div class="col-2 text-center"
                       style="font-size: 2rem;">
                    SAU
                  </div>
                  <div class="col-4 align-self-center">
                    <mat-divider></mat-divider>
                  </div>
                </div>
              </div>
            </div>
            <form class="row justify-content-center"
                  (ngSubmit)="onSubmitLoginForm()"
                  [formGroup]="loginForm">
              <mat-form-field class="col-12 w-100 my-1"
                              appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput
                       placeholder="pat@example.com"
                       formControlName="email"
                       autocomplete="username"
                       required>
                <mat-error *ngIf="emailLF.invalid">
                  {{emailLF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-12 w-100 my-1"
                              appearance="outline">
                <mat-label>Parola</mat-label>
                <input matInput
                       #plf
                       formControlName="password"
                       autocomplete="current-password"
                       [type]="hidePasswordLF ? 'password' : 'text'"
                       required>
                <button mat-icon-button
                        type="button"
                        matSuffix
                        (click)="hidePasswordLF = !hidePasswordLF"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePasswordLF">
                  <span class="material-icons">
                    {{hidePasswordLF ? 'visibility_off' : 'visibility'}}
                  </span>
                </button>
                <mat-hint align="end">{{plf.value.length}} / 8</mat-hint>
                <mat-error *ngIf="passwordLF.invalid">
                  {{passwordLF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <button mat-raised-button
                      type="submit"
                      class="col-6"
                      color="primary">Autentifică-te</button>
              <!-- [disabled]="loginForm.invalid || (loadingLogin$ | async)" -->
            </form>
            <div class="row">
              <div class="col-12 text-center my-2">
                <button mat-button
                        type="button"
                        class="primary"
                        (click)="changeTab(2)"
                        [disabled]="loadingLogin$ | async">Ți-ai uitat parola?</button>
              </div>
              <div class="col-12 text-center">
                <span class="mx-1">Dacă ești un utilizator nou atunci</span>
                <button mat-button
                        type="button"
                        color="primary"
                        (click)="changeTab(1)"
                        [disabled]="loadingLogin$ | async">Înregistrează-te</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab [disabled]="loadingLogin$ | async">
        <ng-template mat-tab-label>
          <span class="material-icons">
            how_to_reg
          </span>
          ÎNREGISTRARE
        </ng-template>
        <mat-progress-bar *ngIf="(loadingLogin$ | async)"
                          mode="indeterminate"></mat-progress-bar>
        <mat-card class="login-card"
                  style="font-size: 1.2rem;">
          <mat-card-content>
            <div class="row">
              <div class="col-12 text-center mb-4">
                Alătură-te comunității
                <span class="primary">
                  AZET D.T.
                </span>
              </div>
            </div>
            <form class="row justify-content-center"
                  (ngSubmit)="onSubmitRegisterForm()"
                  [formGroup]="registerForm">
              <mat-form-field class="col-6 w-100 my-1"
                              appearance="outline">
                <mat-label>Nume</mat-label>
                <input matInput
                       #fn
                       maxlength="20"
                       formControlName="firstName"
                       required>
                <mat-hint align="end">{{fn.value.length}} / 20</mat-hint>
                <mat-error *ngIf="firstNameRF.invalid">
                  {{firstNameRF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-6 w-100 my-1"
                              appearance="outline">
                <mat-label>Prenume</mat-label>
                <input matInput
                       #ln
                       maxlength="20"
                       formControlName="lastName"
                       required>
                <mat-hint align="end">{{ln.value.length}} / 20</mat-hint>
                <mat-error *ngIf="lastNameRF.invalid">
                  {{lastNameRF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-12 w-100 my-1"
                              appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput
                       placeholder="pat@example.com"
                       formControlName="email"
                       autocomplete="username"
                       required>
                <mat-error *ngIf="emailRF.invalid">
                  {{emailRF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-12 w-100 my-1"
                              appearance="outline">
                <mat-label>Parola</mat-label>
                <input matInput
                       #p
                       formControlName="password"
                       autocomplete="new-password"
                       [type]="hidePasswordRF ? 'password' : 'text'"
                       required>
                <button mat-icon-button
                        type="button"
                        matSuffix
                        (click)="hidePasswordRF = !hidePasswordRF"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePasswordRF">
                  <span class="material-icons">
                    {{hidePasswordRF ? 'visibility_off' : 'visibility'}}
                  </span>
                </button>
                <mat-hint align="end">{{p.value.length}} / 8</mat-hint>
                <mat-error *ngIf="passwordRF.invalid">
                  {{passwordRF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <mat-form-field class="col-12 w-100 my-1"
                              appearance="outline">
                <mat-label>Confirmă Parola</mat-label>
                <input matInput
                       #cp
                       formControlName="confirmPassword"
                       autocomplete="new-password"
                       [type]="hidePasswordRF ? 'password' : 'text'"
                       required>
                <button mat-icon-button
                        type="button"
                        matSuffix
                        (click)="hidePasswordRF = !hidePasswordRF"
                        [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hidePasswordRF">
                  <span class="material-icons">
                    {{hidePasswordRF ? 'visibility_off' : 'visibility'}}
                  </span>
                </button>
                <mat-hint align="end">{{cp.value.length}} / 8</mat-hint>
                <mat-error *ngIf="confirmPasswordRF.invalid">
                  {{confirmPasswordRF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <button mat-raised-button
                      type="submit"
                      class="col-6"
                      color="primary"
                      [disabled]="registerForm.invalid || (loadingRegister$ | async)">Înregistrează-te</button>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab [disabled]="loadingLogin$ | async">
        <ng-template mat-tab-label>
          <span class="material-icons">
            restart_alt
          </span>
          RECUPREAZĂ PAROLA
        </ng-template>
        <mat-progress-bar *ngIf="(loadingLogin$ | async)"
                          mode="indeterminate"></mat-progress-bar>
        <mat-card class="login-card"
                  style="font-size: 1.2rem;">
          <mat-card-content>
            <div class="row justify-content-center">
              <div class="col-6 text-center mb-4">
                Introduceți adresa de email folosită la înregistrare pentru a vă putea reseta parola de la contul
                <span class="primary">
                  AZET D.T.
                </span>
              </div>
            </div>
            <form class="row justify-content-center"
                  (ngSubmit)="onSubmitForgetPasswordForm()"
                  [formGroup]="forgetPasswordForm">
              <mat-form-field class="col-12 w-100 my-4"
                              appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput
                       placeholder="pat@example.com"
                       formControlName="email"
                       autocomplete="username"
                       required>
                <mat-error *ngIf="emailFPF.invalid">
                  {{emailFPF.errors | formControlErrorInterpretation}}
                </mat-error>
              </mat-form-field>
              <button mat-raised-button
                      type="submit"
                      class="col-6"
                      color="primary"
                      [disabled]="forgetPasswordForm.invalid || (loadingForgotPassword$ | async)">RECUPREAZĂ</button>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <mat-toolbar class="mat-elevation-z6"
                     color="primary">
          <mat-toolbar-row>
            <span>Beneficii</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div class="col-12 mt-3">
        Dacă vă înregistrați pe platforma noastră
        <span class="primary">
          AZET D.T.
        </span>
        aveți următoarele beneficii:
      </div>
      <div class="col-12">
        <mat-list>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Cumpărături rapide</div>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Urmărire status comenzi</div>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Evidența comenzilor</div>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Factura online</div>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Garanție online</div>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Elimină birocrația</div>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Vezi cele mai bune oferte</div>
          </mat-list-item>
          <mat-list-item>
            <span mat-list-icon
                  class="material-icons">
              restart_alt
            </span>
            <div mat-line>Siguranță</div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>