$forest-green: #228b22;
$bangladesh-green: #045d56;
$outrageous-orange: #fd764c;
$gargoyle-gas: #ffcf44;
$lavender-indigo: #b15dff;
$honolulu-blue: #0062b0;
$honolulu-blue-opacity-4: rgba(0, 98, 176, 0.2);
$dodger-blue: #1e99ff;
$dark-cerulean: #124978;
$davys-grey: #525252;
$red: #ff0000;
$battery-charged-blue: #16b1e1;
$gray: #7f7f7f;
$white: white;
$linear-gradient-chinese-white-to-anti-flash-white: linear-gradient(
  #e0e0e0,
  #f1f1f1
);
