.text-color-cadet {
  color: $cadet !important;
}

.text-color-honolulu-blue {
  color: $honolulu-blue !important;
}

.text-color-white {
  color: $white !important;
}

.text-color-dark-cerulean {
  color: $dark-cerulean !important;
}
