.bg-color-outrageous-orange {
  background-color: $outrageous-orange;
}

.bg-color-transparent {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.bg-color-red {
  background-color: $red !important;
}

.bg-color-white {
  background-color: $white !important;
}

.bg-color-honolulu-blue {
  background-color: $honolulu-blue !important;
}
