.bg-color-outrageous-orange {
  background-color: $outrageous-orange;
}

.bg-color-transparent {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.bg-color-red {
  background-color: $red !important;
}
