.text-color-cadet {
  color: $cadet !important;
}

.text-color-honolulu-blue {
  color: $honolulu-blue !important;
}

.text-color-white {
  color: $white !important;
}

.text-color-dark-cerulean {
  color: $dark-cerulean !important;
}

.text-color-red {
  color: $red !important;
}

.text-color-taupe-gray {
  color: $taupe-gray !important;
}

.text-color-dodger-blue {
  color: $dodger-blue !important;
}