.fs-26 {
  font-size: 26px;
}

.fs-1-25rem {
  font-size: 1.25rem;
}

.fs-65-percentage {
  font-size: 65%;
}

.fs-22 {
  font-size: 22px;
}

.fs-15 {
  font-size: 15px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13 {
  font-size: 13px;
}
