.hvw-40 {
  height: 40vw;
}

.h-80 {
  height: 80px;
}

.h-40 {
  height: 40px;
}

.h-20 {
  height: 20px;
}

.h-160 {
  height: 160px !important;
}

.top-15 {
  top: 15px;
}

.top-70 {
  top: 70px;
}

.w-85 {
  width: 85px;
}

.w-50-px {
  width: 50px;
}
