.no-gutters {
  /* Reduce margin and padding of bootstrap grid ( row, col ) */
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 2px;
    padding-left: 0;
  }
}

.navbar-spacer {
  flex: 1 1 auto;
}

.cursor-pointer {
  cursor: pointer;
}

.z-3 {
  z-index: 3;
}
