@import "helpers/colors";

.azet-dt-header {
    z-index: 2;

    .header-first-row {
        height: 90px !important;
        justify-content: space-evenly !important;
    }

    .header-second-row {
        background-color: $honolulu-blue;
        height: 10px !important;
        justify-content: center !important;
    }
}

.azet-dt-search {
    width: 1108px;
    max-width: calc(100%);
    background-color: white;
    padding: 20px 30px;
    margin-top: 5px;
    margin-left: -50%;

    .material-icons.title {
        color: $battery-charged-blue;
    }
}
