<mat-toolbar *ngIf="adminView"
             class="mat-elevation-z6 azet-dt-header">
    <button mat-icon-button
            class="mx-1 d-lg-none d-xs-inline"
            (click)="clickMenuIcon()">
        <span class="material-icons-round">menu</span>
    </button>
    <app-logo-icon></app-logo-icon>
    <span class="navbar-spacer"></span>
    <div class="section-1__nav_btn">
        <!-- <button *ngFor="let item of azetDtMenuHeaderItems"
              mat-raised-button
              class="mx-1 d-none d-lg-inline"
              routerLinkActive="mat-accent"
              [routerLink]="item.routerLink"
              [matBadge]="(item.value === 'cart')? (cart$ | async)?.totalProducts : null"
              matBadgeColor="accent">
        <span class="material-icons-round">{{item.icon}}</span>
        <span>{{item.label}}</span>
      </button> -->
    </div>
    <button mat-icon-button
            class="ml-3"
            (click)="switchTheme()">
        <span *ngIf="(theme === null) || (theme === templateEnumThemeClassName.LIGHT_THEME)"
              class="material-icons"
              matTooltip="Luminează">light_mode</span>
        <span *ngIf="(theme === templateEnumThemeClassName.DARK_THEME)"
              class="material-icons"
              matTooltip="Întunecă">dark_mode</span>
    </button>
</mat-toolbar>
<mat-toolbar *ngIf="adminView"
             class="mat-elevation-z6">
    <mat-toolbar-row>
        <button mat-icon-button
                color="primary"
                (click)="clickMenuIcon()">
            <span class="material-icons-two-tone">
                menu
            </span>
        </button>
        <h1 class="ml-2">{{ 'No title, pls contact the creator!' | uppercase}}</h1>
        <span class="navbar-spacer"></span>
        <button mat-stroked-button
                routerLink="/home">
            <span class="material-icons-two-tone">
                home
            </span>
            Către AZET D.T. Website
        </button>
    </mat-toolbar-row>
</mat-toolbar>