<mat-toolbar class="fixed-top mat-elevation-z8 border-bottom-honolulu-blue">
    <mat-toolbar-row class="h-80">
        <app-logo-icon></app-logo-icon>
        <button mat-button
                routerLink="/home"
                routerLinkActive="bg-color-transparent"
                class="text-uppercase text-color-honolulu-blue fs-1-25rem fw-700 ms-4">
            Acasa
        </button>
        <button mat-button
                routerLink="/products"
                routerLinkActive="bg-color-transparent"
                class="text-uppercase text-color-honolulu-blue fs-1-25rem fw-700 mx-3">
            Anvelope
        </button>
        <button mat-button
                routerLink="/contact"
                routerLinkActive="bg-color-transparent"
                class="text-uppercase text-color-honolulu-blue fs-1-25rem fw-700">
            Contact
        </button>

        <span class="navbar-spacer"></span>
        <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button
                ngbPopover="You see, I show up on hover!"
                triggers="mouseenter:mouseleave"
                popoverTitle="Pop title"
                container="body">
            <mat-icon matBadge="0"
                      matBadgeColor="warn">shopping_cart</mat-icon>
        </button>
        <span class="ms-2">{{0 | azetDtCurrency}}</span>
    </mat-toolbar-row>
</mat-toolbar>