<div class="row popular-products-container">
  <div class="col-12">
    <mat-toolbar class="popular-products-header mat-elevation-z6"
                 color="primary">
      <mat-toolbar-row>
        <span>Cele mai populare</span>
        <span class="app-navbar-spacer"></span>
        <button mat-icon-button
                [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div *ngIf="(loading$ | async)"
       class="col-12">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!(loading$ | async)"
       class="col-12">
    <app-products-card [products]="(popularProducts$ | async)"
                       [loading]="loading$ | async"
                       (clickAddToCart)="addCartProduct($event)"></app-products-card>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item
          disabled>
    <mat-icon>voicemail</mat-icon>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>