<h1 mat-dialog-title
    class="d-flex align-items-center">
  <span class="material-icons text-warning mr-3">tire_repair</span>
  Programează în service
</h1>
<div mat-dialog-content>
  <form class="row align-items-center justify-content-center"
        (ngSubmit)="onSubmitScheduleInServiceForm()"
        [formGroup]="scheduleInServiceForm">
    <mat-form-field class="col-12 mb-1"
                    appearance="outline">
      <mat-label>Nume</mat-label>
      <input id="name"
             #n
             name="name"
             type="text"
             matInput
             maxlength="20"
             formControlName="name"
             placeholder="Nume"
             autocomplete="username"
             required>
      <mat-hint align="start">Ex. Popescu Adrian</mat-hint>
      <mat-hint align="end">{{n.value.length}} / 20</mat-hint>
      <mat-error *ngIf="controlName.invalid">
        {{controlName.errors | formControlErrorInterpretation}}
      </mat-error>
      <span matSuffix
            class="material-icons">
        person
      </span>
    </mat-form-field>
    <mat-form-field class="col-12 w-100 my-3"
                    appearance="outline">
      <span matPrefix>+40 &nbsp;</span>
      <mat-label>Telefon</mat-label>
      <input id="phone"
             name="phone"
             type="tel"
             aria-label="Telefon"
             matInput
             formControlName="phone"
             placeholder="555-555-1234"
             required>
      <mat-hint align="start">Introduceți numărul de telefon</mat-hint>
      <mat-error *ngIf="controlPhone.invalid">
        {{controlPhone.errors | formControlErrorInterpretation}}
      </mat-error>
      <span matSuffix
            class="material-icons">
        phone
      </span>
    </mat-form-field>
    <mat-form-field class="col-12 mb-1"
                    appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput
             placeholder="pat@example.com"
             formControlName="email"
             autocomplete="username"
             required>
      <mat-error *ngIf="controlEmail.invalid">
        {{controlEmail.errors | formControlErrorInterpretation}}
      </mat-error>
      <span matSuffix
            class="material-icons">
        mail
      </span>
    </mat-form-field>
    <mat-form-field class="col-12 mb-1"
                    appearance="outline">
      <mat-label>Motiv</mat-label>
      <input matInput
             #reason
             formControlName="reason"
             maxlength="100"
             placeholder="Ex. Schimbare de cauciuc..."
             required>
      <mat-hint align="end">{{reason.value.length}} / 100</mat-hint>
      <mat-error *ngIf="controlReason.invalid">
        {{controlReason.errors | formControlErrorInterpretation}}
      </mat-error>
      <span matSuffix
            class="material-icons">
        textsms
      </span>
    </mat-form-field>
    <mat-form-field class="col-12 mb-1"
                    appearance="outline">
      <mat-label>Data programării</mat-label>
      <input matInput
             formControlName="date"
             [matDatepicker]="picker"
             [matDatepickerFilter]="filterDate"
             [max]="maxDate"
             [min]="minDate"
             matTooltip="Data programării trebuie să fie cu o zi înainte de ziua curentă."
             required>
      <mat-datepicker-toggle matSuffix
                             [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="controlDate.invalid">
        {{controlDate.errors | formControlErrorInterpretation}}
      </mat-error>
    </mat-form-field>
    <mat-card class="col-12 text-center m-0 p-0">
      <mat-label class="align-items-center">
        Ora programării *
      </mat-label>
      <ngb-timepicker formControlName="time"
                      [hourStep]="1"
                      [minuteStep]="15"
                      required></ngb-timepicker>
      <mat-error *ngIf="controlTime.valid"
                 class="text-success"
                 style="font-size: 75%;">
        Ora este validă.
      </mat-error>
      <mat-error *ngIf="controlTime.invalid"
                 style="font-size: 75%;">
        {{controlTime.errors | formControlErrorInterpretation}}
      </mat-error>
    </mat-card>
  </form>
</div>
<div mat-dialog-actions
     align="end">
  <button mat-button
          mat-dialog-close>Închide</button>
  <button mat-raised-button
          color="accent"
          type="submit"
          mat-dialog-data>Programează</button>
</div>