.price-container {
  padding: 10px 0px 10px 0px;

  .sale-price {
    font-size: 0.8rem;
    font-weight: 100;
    color: red;
  }

  .current-price {
    padding: 10px 0px 10px 0px;
    font-size: 1.8rem;
  }

  .without-tax-price {
    font-size: 0.8rem;
    font-weight: 100;
  }
}
