<ng-container [ngSwitch]="viewMode">
  <div *ngSwitchCase="viewModeTemplate.GRID"
       class="row">
    <div *ngIf="loading"
         class="col-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngFor="let product of products;trackBy: trackByService.product"
         class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-2">
      <mat-card>
        <mat-card-title-group>
          <mat-card-title>{{product.name | uppercase}}</mat-card-title>
          <mat-card-subtitle>{{product.producer | uppercase}}</mat-card-subtitle>
          <img mat-card-image
               class="img-fluid"
               src="/assets/pictures/tires-pictures/tire-default.png"
               style="width: 170px;"
               [routerLink]="['/products/' + product.id]"
               [alt]="product.name">
        </mat-card-title-group>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
        </mat-card-content>
        <mat-card-actions>
          <div class="d-flex justify-content-between">
            <button mat-raised-button
                    color="primary"
                    (click)="addCartProduct(product)">
              <span class="material-icons">
                add_shopping_cart
              </span>
              ADAUGĂ ÎN COȘ
            </button>
            <button mat-icon-button
                    color="primary">
              <span class="material-icons">
                share
              </span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      <!-- <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{product.name | uppercase}}
          </mat-card-title>
          <mat-card-subtitle>
            {{product.producer | uppercase}}
          </mat-card-subtitle>
        </mat-card-header>
        <div mat-card-image
             class="text-center">
          <img src="/assets/pictures/tires-pictures/tire-default.png"
               [routerLink]="['/products/' + product.id]"
               class="w-50 h-50"
               [alt]="product.name">
        </div>
        <mat-card-content>
          <div class="row justify-content-center">
            <div class="col-11">
              <mat-divider></mat-divider>
            </div>

            <div class="col-12 text-center price-container">
              <div class="sale-price">
                <del>{{300 | azetDtCurrency}}</del> (-20%)
              </div>
              <div class="current-price">
                {{200 | azetDtCurrency}}
              </div>
              <div class="without-tax-price">
                Fără TVA: {{280 | azetDtCurrency}}
              </div>
            </div>

            <div class="col-11 mb-2">
              <mat-divider></mat-divider>
            </div>
            <div class="col-6">
              Cantitate: {{product.quantity}}
            </div>
            <div class="col-6">
              <i class="fas fa-dot-circle"
                 style="color: #22bb33;"></i>
              {{product.state}}
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="d-flex justify-content-between">
            <button mat-raised-button
                    color="primary"
                    (click)="addCartProduct(product)">
              <span class="material-icons">
                add_shopping_cart
              </span>
              ADAUGĂ ÎN COȘ
            </button>
            <button mat-icon-button
                    color="primary">
              <span class="material-icons">
                share
              </span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card> -->
    </div>
  </div>
  <div *ngSwitchCase="viewModeTemplate.LIST"
       class="row list-product-card-container">
    <div *ngIf="loading"
         class="col-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngFor="let product of products;trackBy: trackByService.product"
         class="col-12 mb-2">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title>
            {{product.name | uppercase}}
          </mat-card-title>
          <mat-card-subtitle>
            {{product.producer | uppercase}}
          </mat-card-subtitle>
        </mat-card-header>
        <div class="row align-items-center">
          <div class="col-3">
            <img src="/assets/pictures/tires-pictures/tire-default.png"
                 [routerLink]="'/products/'+ product.id"
                 style="width: 160px; height: 160px;"
                 [alt]="product.name">
          </div>
          <div class="col-6 price-container">
            <div class="sale-price">
              <del>{{300 | azetDtCurrency}}</del> (-20%)
            </div>
            <div class="current-price">
              {{200 | azetDtCurrency}}
            </div>
            <div class="without-tax-price">
              Fără TVA: {{280 | azetDtCurrency}}
            </div>
          </div>
        </div>
        <mat-card-actions>
          <div class="d-flex justify-content-between">
            <button mat-raised-button
                    color="primary"
                    (click)="addCartProduct(product)">
              <span class="material-icons">
                add_shopping_cart
              </span>
              ADAUGĂ ÎN COȘ
            </button>
            <button mat-icon-button
                    color="primary">
              <span class="material-icons">
                share
              </span>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-container>