<div class="row mt-5">
    <div class="col-6">
        <div class="row justify-content-center"
             style="font-size: 1rem;">
            <div class="col-12 mb-4">
                <mat-toolbar class="mat-elevation-z6"
                             color="primary">
                    <mat-toolbar-row>
                        <span>Informații utile despre SC AZET D.T. SRL</span>
                    </mat-toolbar-row>
                </mat-toolbar>
                <app-contact-list [showContactPageDetail]="false"></app-contact-list>
            </div>
        </div>
    </div>
</div>