<h1 mat-dialog-title
    class="d-flex align-items-center">
  <span class="material-icons text-danger mr-3">schedule</span>
  Program de lucru
</h1>
<mat-dialog-content mat-dialog-content>
  <mat-list dense>
    <div mat-subheader>Data exactă</div>
    <mat-list-item>
      <span mat-list-icon
            class="material-icons-round text-info">timer</span>
      <div *ngIf="(realTimeClock$ | async) as clock else loadingClock"
           mat-line>{{ clock | date: 'd.M.yy, H:mm:ss' }}</div>
      <ng-template #loadingClock>
        <mat-progress-bar color="accent"
                          mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Zile lucrătoare</div>
    <mat-list-item *ngFor="let day of daysOfWeeks.workDays;trackBy: trackByService.trackByValue"
                   [ngClass]="{'border border-success rounded': (day.value === dayNow)}">
      <span mat-list-icon
            [ngClass]="{'text-success': ((day.value === dayNow) && currentDateIsInProgramRange),
                        'text-secondary': !((day.value === dayNow) && currentDateIsInProgramRange)}"
            class="material-icons-round text-success">{{day.icon}}</span>
      <div mat-line
           class="d-flex justify-content-between">
        <span>{{day.label}}</span>
        <span>{{day.timeRange}}</span>
      </div>
      <div mat-line
           *ngIf="(day.value === dayNow)">
        <span *ngIf="currentDateIsInProgramRange else closed"
              class="text-success">Deschis</span>
        <ng-template #closed>Închis</ng-template>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div mat-subheader>Zile libere</div>
    <mat-list-item *ngFor="let weekendsDay of daysOfWeeks.weekend;trackBy: trackByService.trackByValue">
      <span mat-list-icon
            class="material-icons-round text-danger">{{weekendsDay.icon}}</span>
      <div mat-line>{{weekendsDay.label}}</div>
      <div mat-line>{{weekendsDay.timeRange}}</div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-action mat-dialog-actions
                   align="end">
  <button mat-button
          mat-dialog-close>Închide</button>
</mat-dialog-action>
