<div class="row product-card-container">
  <div *ngFor="let product of products;trackBy: trackbyService.product"
       class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-2">
    <mat-card class="product-card">
      <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle class="mb-0">{{product.producer}}</mat-card-subtitle>
      </mat-card-header>
      <div mat-card-image>
        <img src="/assets/tires-pictures/tire-mock-1.png"
             class="tire-img img-fluid"
             [alt]="product.name">
      </div>
      <mat-card-content>
        <div class="row justify-content-between">
          <div class="col-2">
            <i aria-hidden="false"
               aria-label="Pret"
               class="fas fa-tag"></i>
          </div>
          <div class="col-10">
            <span class="price">{{product.price}}</span>
            <span class="currency">LEI</span>
          </div>
          <div class="col-2">
            <i aria-hidden="false"
               aria-label="Sezon"
               [class]="product.season | seasonToIcon"></i>
          </div>
          <div class="col-10">
            <span>{{product.season}}</span>
          </div>
          <div class="col-2">
            <i aria-hidden="false"
               aria-label="Nivelul de zgomot"
               class="fas fa-volume-up"></i>
          </div>
          <div class="col-10">
            <span>{{product.noiseLevel}} db</span>
          </div>
          <div class="col-2">
            <i aria-hidden="false"
               aria-label="Tip vehicul"
               class="fas fa-car"></i>
          </div>
          <div class="col-10">
            <span>{{product.carCategory}}</span>
          </div>
          <div class="col-2">
            <i aria-hidden="false"
               aria-label="Nivelul de consum"
               class="fas fa-gas-pump"></i>
          </div>
          <div class="col-10">
            <span>{{product.fuelEfficiency}}</span>
          </div>
          <div class="col-2">
            <i aria-hidden="false"
               aria-label="Eficienta pe vreme"
               class="fas fa-cloud-rain"></i>
          </div>
          <div class="col-10">
            <span>{{product.weatherEfficiency}}</span>
          </div>
          <div class="col-2">
            <i aria-hidden="false"
               aria-label="Informatii DOT"
               class="fas fa-calendar-alt"></i>
          </div>
          <div class="col-10">
            <span>{{product.dot}}</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="d-flex">
          <button mat-mini-fab
                  color="primary"
                  aria-label="Example icon button with a plus one icon">
            <span class="material-icons">
              add_shopping_cart
            </span>
          </button>
          <button mat-icon-button
                  class="ml-auto"
                  color="primary"
                  aria-label="Example icon button with a vertical three dot icon">
            <span class="material-icons">
              favorite
            </span>
          </button>
          <button mat-icon-button
                  color="primary"
                  aria-label="Example icon button with a vertical three dot icon">
            <span class="material-icons">
              share
            </span>
          </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
