<div class="row">
    <div class="col-3">
        <mat-card class="m-2 border border-primary">
            <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                    support
                </span>
                <mat-card-title>30</mat-card-title>
                <mat-card-subtitle>Anvelope</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="col-3">
        <mat-card class="m-2 border border-danger">
            <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                    support
                </span>
                <mat-card-title>10</mat-card-title>
                <mat-card-subtitle>Produse</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="col-3">
        <mat-card class="m-2 border border-success">
            <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                    request_quote
                </span>
                <mat-card-title>25</mat-card-title>
                <mat-card-subtitle>Comenzi</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="col-3">
        <mat-card class="m-2 border border-warning">
            <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                    support
                </span>
                <mat-card-title>20</mat-card-title>
                <mat-card-subtitle>Review-uri</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>