@import "~@angular/material/theming";
@import "variables";

@include mat-core();

$azet-dt-dark-primary: mat-palette($mat-blue);
$azet-dt-dark-accent: mat-palette($mat-orange);
$azet-dt-dark-theme: mat-dark-theme($azet-dt-dark-primary, $azet-dt-dark-accent);

@include angular-material-theme($azet-dt-dark-theme);
