@use "../general" as general;
@import "~@angular/material/theming";
@import "variables";

@include mat-core();

$azet-dt-light-primary: mat-palette($mat-grey, 900, 900, 900);
$azet-dt-light-accent: mat-palette($mat-orange, A200, A100, A400);
$azet-dt-light-theme: mat-light-theme($azet-dt-light-primary, $azet-dt-light-accent);

@include angular-material-theme($azet-dt-light-theme);
@include general.theme($azet-dt-light-theme);
