a:hover {
    /* Anchor hover */
    &:hover {
        color: inherit;
    }

    text-decoration: none;
}

h3 {
    font-size: 1.5rem !important;
    color: $honolulu-blue;
    font-weight: 400 !important;
    text-transform: uppercase;
}

h6 {
    font-size: 1.2rem !important;
    color: $honolulu-blue;
    font-weight: 700 !important;
    text-transform: uppercase;
}
