$forest-green: #228b22;
$bangladesh-green: #045d56;
$outrageous-orange: #fd764c;
$gargoyle-gas: #ffcf44;
$lavender-indigo: #b15dff;
$honolulu-blue: #0062b0;
$dodger-blue: #1e99ff;
$dark-cerulean: #124978;
$davys-grey: #525252;
$red: #ff0000;
