$azet-dt-green: #1eb980;
$azet-dt-dark-green: #045d56;
$azet-dt-orange: #fd764c;
$azet-dt-yellow: #ffcf44;
$azet-dt-purple: #b15dff;
$azet-dt-blue: #1982db;
$azet-dt-light-blue: #1e99ff;
$azet-dt-dark-blue: #124978;
$azet-dt-grey: #e5e5e6;

// PALETTE FOR PRIMARY LIGHT THEME
$azet-dt-light-primary-palette: (
  50: #ffffff,
  100: #ffffff,
  200: #fedacf,
  300: #fea488,
  400: #fd8d6a,
  500: #fd764c,
  600: #fd5f2e,
  700: #fc480f,
  800: #eb3a03,
  900: #cc3202,
  A100: #ffffff,
  A200: #ffeae3,
  A400: #ff9c7d,
  A700: #ff8863,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// PALETTE FOR ACCENT LIGHT THEME
$azet-dt-light-accent-palette: (
  50: #858585,
  100: #5e5e5e,
  200: #424242,
  300: #1f1f1f,
  400: #0f0f0f,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a65959,
  A200: #633636,
  A400: #1d1616,
  A700: #0d0c0c,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// PALETTE FOR PRIMARY DARK THEME
$azet-dt-dark-primary-palette: (
  50: #ffffff,
  100: #ffffff,
  200: #fedacf,
  300: #fea488,
  400: #fd8d6a,
  500: #fd764c,
  600: #fd5f2e,
  700: #fc480f,
  800: #eb3a03,
  900: #cc3202,
  A100: #ffffff,
  A200: #ffeae3,
  A400: #ff9c7d,
  A700: #ff8863,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// PALETTE FOR ACCENT DARK THEME
$azet-dt-dark-accent-palette: (
  50: #858585,
  100: #5e5e5e,
  200: #424242,
  300: #1f1f1f,
  400: #0f0f0f,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #a65959,
  A200: #633636,
  A400: #1d1616,
  A700: #0d0c0c,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
