$azet-dt-green: #228b22;
$azet-dt-dark-green: #045d56;
$azet-dt-orange: #fd764c;
$azet-dt-yellow: #ffcf44;
$azet-dt-purple: #b15dff;
$azet-dt-blue: #1982db;
$azet-dt-light-blue: #1e99ff;
$azet-dt-dark-blue: #124978;
$azet-dt-grey: #818181;
$azet-dt-red: #ff0000;
