<mat-card class="me-1 mb-4">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon [matTooltip]="product.weather"
                [color]="product.weather === 'wb_sunny' ? 'accent' : 'primary'">
        {{ product.weather }}
      </mat-icon>
    </div>
    <mat-card-title>
      {{ product.name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ product.brand }}
    </mat-card-subtitle>
  </mat-card-header>
  <div mat-card-image>
    <img [src]="product.pictureSrc"
         class="rounded img-fluid cursor-pointer"
         [alt]="product.name"
         (click)="openProductDetails(product)" />
    <div *ngIf="product.price.discount"
         class="col-12 fw-700 fs-15 fs-12 position-absolute top-15 text-color-white bg-color-red w-85 ps-2">
      - {{ product.price.discount }}% extra
    </div>
  </div>
  <mat-card-content>
    <div class="row">
      <div *ngIf="product.price.discount; else productHasNoDiscount"
           class="col-12 fw-500 fs-13">
        <span class="text-decoration-line-through">{{ product.price.withTax | aztDtCurrency }}</span>
        <span class="text-color-red fw-b"> -{{product.price.discount}}%</span>
        <div *ngIf="product.price.withDiscountWithTax"
             class="col-12 fw-700 fs-2 text-color-honolulu-blue">
          {{ product.price.withDiscountWithTax | aztDtCurrency }}
        </div>
        <div *ngIf="product.price.withDiscount"
             class="col-12 fw-500 fs-13">
          {{ product.price.withDiscount | aztDtCurrency }} Fără TVA
        </div>
      </div>
      <ng-template #productHasNoDiscount>
        <span class="h-20"></span>
        <div class="col-12 fw-500 fs-13">
          <div class="col-12 fw-700 fs-2 text-color-honolulu-blue">
            {{ product.price.withTax | aztDtCurrency }}
          </div>
          <div class="col-12 fw-500 fs-13">
            {{ product.price.value | aztDtCurrency }} Fără TVA
          </div>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
  <mat-card-actions class="justify-content-end">
    <button color="primary"
            mat-mini-fab
            (click)="addToCart(product)">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>