.product-details-container {
    .product-card {
      .product-card__img {
        img {
          -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
          -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
          width: 250px;
  
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
  