<div class="container-fluid p-0">
  <div class="row justify-content-center">
    <div class="col-12 shop-home-image">

    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <app-shop-home-popular-products></app-shop-home-popular-products>
    </div>
    <div class="col-12 my-3">
      <mat-divider></mat-divider>
    </div>
    <div class="col-12 p-5">
      <div class="row">
        <div class="col-8 align-self-center">
          <h1 class="mb-5"
              style="font-size: 2rem;">DESPRE <span class="custom-text">AZET D.T.</span></h1>
          <p class="azet-dt-border-left pl-2">
            For questions, comments or inquiries about our company, brand or products, please do not hesitate to reach
            out. We are happy to support you.
          </p>
        </div>
        <div class="col-4 align-self-center text-right">
          <button mat-stroked-button
                  routerLink="/contact"
                  color="primary"
                  class="shadow p-3"
                  style="font-size: 2rem;">
            <span class="pr-3">CONTACTEAZĂ-NE</span>
            <i class="fas fa-chevron-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
