.shop-home-image {
  background-image: url("/assets/pictures/tires-pictures/tire_2.jpg");
  background-color: black;
  height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
