<div class="row justify-content-center py-4 mt-2 text-center popular-products-container">
  <div class="col-12 mb-3">
    <h4>POPULAR PRODUCTS</h4>
  </div>
  <div *ngFor="let item of tireList"
       class="col-6 col-lg-3">
    <div class="row">
      <div class="col-12">
        <img src="./assets/pictures/tires/tire.png"
             class="rounded img-fluid"
             [alt]="item.value"
             [routerLink]="item.routerLink">
      </div>
      <div class="col-12">
        <h6 class="gray">{{item.value}}</h6>
      </div>
    </div>
  </div>