<div class="row popular-products-container">
  <div class="col-12">
    <mat-toolbar class="popular-products-header mat-elevation-z6 mb-2"
                 color="primary">
      <mat-toolbar-row>
        <span class="material-icons mr-2">
          local_offer
        </span>
        <span>Nu rata ofertele noastre</span>
        <span class="navbar-spacer"></span>
        <button mat-icon-button
                [matMenuTriggerFor]="menu">
          <span class="material-icons">
            more_vert
          </span>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div *ngIf="(loading$ | async)"
       class="col-12">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div *ngIf="!(loading$ | async)"
       class="col-12">
    <app-products-card [products]="(popularProducts$ | async)"
                       [loading]="loading$ | async"
                       (clickAddToCart)="addCartProduct($event)"></app-products-card>
  </div>
</div>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <span class="material-icons">
      dialpad
    </span>
    <span>Redial</span>
  </button>
  <button mat-menu-item
          disabled>
    <span class="material-icons">
      voicemail
    </span>
    <span>Check voice mail</span>
  </button>
  <button mat-menu-item>
    <span class="material-icons">
      notifications_off
    </span>
    <span>Disable alerts</span>
  </button>
</mat-menu>