<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12">
        <div class="w-100 rounded py-5 img-fluid"
             [ngStyle]="{'background-image': 'url(/assets/pictures/promo/promo.jpg)', 'background-size':'cover'}">
            <span class="overlay rounded"
                  style="opacity: .35;"></span>
            <div class="text-center">
                <h3 class="display-4 text-normal text-white text-shadow mb-1">CELE MAI POPULARE</h3>
                <h2 class="display-2 text-bold text-white text-shadow">SUPER OFERTA</h2>
                <h4 class="d-inline-block h2 text-normal text-white text-shadow border-top border-bottom mb-4">
                    NUMAI LA AZET DT
                </h4>
                <br>
                <button mat-raised-button
                        color="accent">
                    <mat-icon>location_on</mat-icon>
                    <span class="text-uppercase">Locatia</span>
                </button>
            </div>
        </div>
    </div>
</div>