@import "~@angular/material/theming";
@import "variables";

@include mat-core();

$azet-dt-light-primary: mat-palette($azet-dt-grey-palette, 50);
$azet-dt-light-accent: mat-palette($azet-dt-blue-palette);
$azet-dt-light-theme: mat-light-theme($azet-dt-light-primary, $azet-dt-light-accent);

@include angular-material-theme($azet-dt-light-theme);
