@import "~@angular/material/theming";

@include mat-core();

$azet-dt-primary: mat-palette($mat-grey, 50);
$azet-dt-accent: mat-palette($mat-blue, 700, 100, 800);
$azet-dt-theme: mat-light-theme($azet-dt-primary, $azet-dt-accent);

@include angular-material-theme($azet-dt-theme);
