@import "~bootstrap/scss/bootstrap";
@import "variables";

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// SCROLL BAR START

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $azet-dt-blue transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: $azet-dt-blue;
}

// SCROLL BAR END

.azet-dt-border-left {
  border-left: 4px solid $azet-dt-blue;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 2px;
    padding-left: 0;
  }
}

a:hover {
  &:hover {
    color: inherit;
  }

  text-decoration: none;
}
