$azet-dt-green: #1eb980;
$azet-dt-dark-green: #045d56;
$azet-dt-orange: #fd764c;
$azet-dt-yellow: #ffcf44;
$azet-dt-purple: #b15dff;
$azet-dt-blue: #1982DB;
$azet-dt-light-blue: #1E99FF;
$azet-dt-dark-blue: #124978;
$azet-dt-grey: #E5E5E6;
