<div class="row justify-content-center">
    <div class="col-12 mb-5">
        <mat-toolbar class="mat-elevation-z6"
                     color="primary">
            <mat-toolbar-row>
                <span class="material-icons mr-2">
                    lightbulb
                </span>
                <span>Informații utile</span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
    <div class="col-lg-3 col-6 mb-1 shop-home-details__container">
        <mat-card class="h-100 shop-home-details__phone">
            <mat-card-header>
                <div mat-card-avatar
                     class="material-icons"
                     style="font-size: 40px;">phone</div>
                <mat-card-title class="border-bottom">
                    <a mat-button
                       href="tel:+40737167631">(0737) 167 631</a>
                </mat-card-title>
                <mat-card-subtitle>Tudor Neagu</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="col-lg-3 col-6 mb-1 shop-home-details__container">
        <mat-card class="h-100 shop-home-details__location">
            <mat-card-header>
                <div mat-card-avatar
                     style="font-size: 40px;"
                     class="material-icons">place</div>
                <mat-card-title class="border-bottom">
                    <a mat-button
                       target="_blank"
                       [href]="azetDtLocation">LOCAȚIE</a>
                </mat-card-title>
                <mat-card-subtitle>Strada Zizinului Nr. 123G, Brașov, România</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="col-lg-3 col-6 mb-1 shop-home-details__container">
        <mat-card class="h-100 shop-home-details__appointment">
            <mat-card-header>
                <div mat-card-avatar
                     style="font-size: 40px;"
                     class="material-icons">construction</div>
                <mat-card-title class="border-bottom">
                    <a mat-button
                       (click)="openScheduleInService()">PROGRAMEAZĂ</a>
                </mat-card-title>
                <mat-card-subtitle>Pentru mai multe Informații te așteptăm la noi În service.</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="col-lg-3 col-6 mb-1 shop-home-details__container">
        <mat-card class="h-100 shop-home-details__schedule">
            <mat-card-header>
                <div mat-card-avatar
                     style="font-size: 40px;"
                     class="material-icons">schedule</div>
                <mat-card-title class="border-bottom">
                    <a mat-button
                       (click)="openSchedule()">PROGRAM</a>
                </mat-card-title>
                <mat-card-subtitle>Află programul <b>LIVE</b> AZET DT</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
    <mat-divider class="col-8 my-5"></mat-divider>
</div>