<div class="row">
  <div class="col-12 mb-2">
    <mat-card class="sort d-flex align-items-center">
      <i class="fas fa-sort-amount-up"></i>
      <span class="sort--title pl-2">SORTEAZĂ DUPĂ</span>
      <mat-form-field appearance="outline"
                      class="sort--select">
        <mat-label>Ați selectat:</mat-label>
        <mat-select>
          <mat-option>-- Niciuna --</mat-option>
          <mat-option *ngFor="let sort of sorts"
                      [value]="sort.value">
            {{sort.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-button-toggle-group aria-label="Mod de afișare"
                               [value]="viewMode.GRID"
                               class="ml-auto"
                               (change)="changeViewMode($event)">
        <mat-button-toggle [value]="viewMode.GRID"><i class="fas fa-th"></i></mat-button-toggle>
        <mat-button-toggle [value]="viewMode.LIST"><i class="fas fa-bars"></i></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card>
  </div>
</div>