<mat-sidenav-container>
  <mat-sidenav #sidenav
               mode="side"
               opened
               class="mat-elevation-z6">

    <mat-selection-list #dashboardSideNav
                        [multiple]="false">

      <mat-list-option value="Dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Dashboard</div>
      </mat-list-option>

      <mat-list-option value="Comenzi">
        <mat-icon mat-list-icon>request_quote</mat-icon>
        <div mat-line>Comenzi</div>
      </mat-list-option>

      <mat-list-option value="Anvelope"
                       selected>
        <mat-icon mat-list-icon>support</mat-icon>
        <div mat-line>Anvelope</div>
      </mat-list-option>

      <mat-list-option value="Review-uri">
        <mat-icon mat-list-icon>reviews</mat-icon>
        <div mat-line>Review-uri</div>
      </mat-list-option>

    </mat-selection-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar class="mat-elevation-z6 administration-navbar"
                 color="primary">
      <mat-toolbar-row>
        <button mat-icon-button
                (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        {{dashboardSideNav.selectedOptions.selected[0]?.value | uppercase}}
        <span class="administration-navbar-spacer"></span>
        <button mat-stroked-button
                routerLink="/home">
          <span class="material-icons-two-tone">
            home
          </span>
          Către AZET D.T. Website
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <ng-container [ngSwitch]="dashboardSideNav.selectedOptions.selected[0]?.value">
      <ng-container *ngSwitchCase="'Dashboard'">
        <div class="row m-0">
          <div class="col-3">
            <mat-card class="m-2 border border-primary">
              <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                  support
                </span>
                <mat-card-title>30</mat-card-title>
                <mat-card-subtitle>Anvelope</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="m-2 border border-danger">
              <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                  support
                </span>
                <mat-card-title>10</mat-card-title>
                <mat-card-subtitle>Produse</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="m-2 border border-success">
              <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                  request_quote
                </span>
                <mat-card-title>25</mat-card-title>
                <mat-card-subtitle>Comenzi</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-3">
            <mat-card class="m-2 border border-warning">
              <mat-card-header>
                <span mat-card-avatar
                      style="font-size: 3rem;"
                      class="material-icons-two-tone">
                  support
                </span>
                <mat-card-title>20</mat-card-title>
                <mat-card-subtitle>Review-uri</mat-card-subtitle>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'Comenzi'">

      </ng-container>
      <ng-container *ngSwitchCase="'Anvelope'">
        <div *ngIf="(loading$ | async)"
             class="row m-0">
          <div class="col-12">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <div class="row m-0">
          <div class="col-12">
            <button mat-raised-button
                    color="primary">
              <mat-icon>dashboard</mat-icon>
              ADAUGĂ ANVELOPĂ
            </button>
          </div>
        </div>
        <div *ngIf="!(loading$ | async)"
             class="row m-0">
          <div *ngFor="let product of (products$ | async);trackBy: trackbyService.product"
               class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-1">
            <mat-card>
              <mat-card-header>
                <mat-card-subtitle>
                  {{product.producer | uppercase}}
                </mat-card-subtitle>
              </mat-card-header>
              <div mat-card-image
                   class="text-center">
                <img src="/assets/pictures/tires-pictures/tire-mock-1.png"
                     [routerLink]="'/products/'+ product.id"
                     class="w-50 h-50"
                     [alt]="product.name">
              </div>
              <mat-card-header>
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>
                  <ngb-rating class="rating"
                              [(rate)]="product.rate"
                              [readonly]="true"
                              [max]="5">
                    <ng-template let-fill="fill"
                                 let-index="index">
                      <span class="star"
                            [class.filled]="fill === 100">&#9733;</span>
                    </ng-template>
                  </ngb-rating>
                </mat-card-subtitle>
                <mat-card-subtitle class="price-container">
                  <i class="price-container--icon fas fas fa-hand-holding-usd"></i>
                  <span class="price-container--bull">&bull;</span>
                  <span class="price-container--price">{{product.price}} Lei</span>
                  <ng-container [ngSwitch]="product.state">
                    <span *ngSwitchCase="stateTemplate.STOCK"
                          style="float: right;">
                      <i class="fas fa-dot-circle"
                         style="color: #22bb33;"></i>
                      <span class="price-container--state pl-1">{{product.state}}</span>
                    </span>
                    <span *ngSwitchCase="stateTemplate.COMMAND"
                          style="float: right;">
                      <i class="fas fa-dot-circle"
                         style="color: #f0ad4e;"></i>
                      <span class="price-container--state pl-1">{{product.state}}</span>
                    </span>
                    <span *ngSwitchDefault><i class="fas fa-dot-circle"></i></span>
                  </ng-container>
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <div class="row justify-content-center">
                  <div class="col-11">
                    <mat-divider></mat-divider>
                  </div>
                  <div class="col-12 py-3">
                    <mat-chip-list>
                      <mat-chip>
                        <i aria-hidden="false"
                           aria-label="Sezon"
                           [class]="product.season | seasonToIcon"></i>
                        <span class="pl-1">{{product.season}}</span>
                      </mat-chip>
                      <mat-chip>
                        <i aria-hidden="false"
                           aria-label="Nivelul de zgomot"
                           class="fas fa-volume-up"></i>
                        <span class="pl-1">{{product.noiseLevel}}</span>
                      </mat-chip>
                      <mat-chip>
                        <i aria-hidden="false"
                           aria-label="Nivelul de consum"
                           class="fas fa-gas-pump"></i>
                        <span class="pl-1">{{product.fuelEfficiency}}</span>
                      </mat-chip>
                      <mat-chip>
                        <i aria-hidden="false"
                           aria-label="Eficienta pe vreme"
                           class="fas fa-cloud-rain"></i>
                        <span class="pl-1">{{product.weatherEfficiency}}</span>
                      </mat-chip>
                      <mat-chip>
                        <i aria-hidden="false"
                           aria-label="Informatii DOT"
                           class="fas fa-calendar-alt"></i>
                        <span class="pl-1">{{product.dot}}</span>
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button
                        type="button"
                        color="primary">
                  <span class="material-icons">
                    add_shopping_cart
                  </span>
                  ADAUGĂ ÎN COȘ
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>

      </ng-container>
    </ng-container>

  </mat-sidenav-content>

</mat-sidenav-container>
