<mat-sidenav-container class="side-nav-container">

  <mat-sidenav #sidenav
               mode="over"
               class="mat-elevation-z6">

    <app-side-nav-pages></app-side-nav-pages>

  </mat-sidenav>

  <mat-sidenav-content>

    <div class="container">

      <app-header [loading]="loading | async"
                  (clickMenu)="onClickMenu(sidenav)"></app-header>

      <app-contact-header></app-contact-header>

      <router-outlet></router-outlet>

      <app-footer></app-footer>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>