@import '../azet-dt-theme.scss';

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  >.col,
  >[class*="col-"] {
    padding-right: 2px;
    padding-left: 0;
  }
}

::ng-deep {
  .star {
    font-size: 1.3rem;
    color: #a8a8a8;
  }

  .filled {
    color: #ffd700;
  }

  .azet-dt-shadow {
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
  }

  .azet-dt-text {
    color: primary;
  }

  .azet-dt-border-left {
    border-left: 4px solid $azet-dt-green;
  }
}
