.sort {
  padding: 5px 10px 5px 10px;

  .sort--title {
    font-size: 1rem;
  }
}

::ng-deep {
  .sort--select {
    padding-left: 10px;
    padding-right: 10px;

    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }
  }
}
