<ng-container [ngSwitch]="viewMode">
  <div *ngSwitchCase="viewModeTemplate.GRID"
       class="row">
    <div *ngIf="loading"
         class="col-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- <div *ngFor="let product of products;trackBy: trackByService.product"
         class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-2 product-container">
      <mat-card class="product-card">
        <mat-chip matTooltip="Super ofertă, nu o rata!"
                  matTooltipPosition="above"
                  selected>- 20%</mat-chip>
        <div mat-card-image
             class="product-card__img text-center">
          <img src="/assets/pictures/tires-pictures/tire-default.png"
               [routerLink]="['/products/' + product.id]"
               [alt]="product.name">
        </div>
        <mat-card-title>{{product.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>{{product.producer | uppercase}}</mat-card-subtitle>
        <mat-card-content>
          <div class="product-card__price text-center">
            <span class="price">{{200 | azetDtCurrency}}</span>
            <span class="sale mx-2"
                  matTooltip="Super ofertă, nu o rata!"
                  matTooltipPosition="above"><del>{{300 | azetDtCurrency}}</del></span>
            <div class="without-tax">
              {{280 | azetDtCurrency}} Fără TVA
            </div>
          </div>
          <mat-divider inset></mat-divider>
          <app-product-state [productState]="product.state"
                             [productQuantity]="product.quantity"></app-product-state>
          <mat-chip-list aria-label="Vehicule">
            <mat-chip *ngFor="let carCategory of product.carCategories">
              {{carCategory}}
            </mat-chip>
          </mat-chip-list>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <div class="d-flex justify-content-between">
            <button mat-raised-button
                    color="primary"
                    (click)="addCartProduct(product)">
              <span class="material-icons">
                add_shopping_cart
              </span>
              ADAUGĂ ÎN COȘ
            </button>
            <app-copy-link [pathUrl]="'/products/'+ product.id"></app-copy-link>
          </div>
        </mat-card-actions>
      </mat-card>
    </div> -->
  </div>
  <div *ngSwitchCase="viewModeTemplate.LIST"
       class="row">
    <div *ngIf="loading"
         class="col-12">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <!-- <div *ngFor="let product of products;trackBy: trackByService.product"
         class="col-12 mb-2 product-container">
      <mat-card class="product-card">
        <mat-card-title-group>
          <mat-card-title class="align-items-center">
            {{product.name | uppercase}}
          </mat-card-title>
          <mat-card-subtitle>
            {{product.producer | uppercase}}
          </mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>
          <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-3">
              <div mat-card-image
                   class="product-card__img text-center">
                <img src="/assets/pictures/tires-pictures/tire-default.png"
                     [routerLink]="['/products/' + product.id]"
                     [alt]="product.name">
              </div>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-xl-9">
              <div class="product-card__price">
                <span class="price">{{product.price | azetDtCurrency}}</span>
                <span class="sale mx-2"
                      matTooltip="Super ofertă, nu o rata!"
                      matTooltipPosition="above">
                  <del>{{300 | azetDtCurrency}}</del>
                  ( - 20%)
                </span>
                <div class="without-tax">
                  {{280 | azetDtCurrency}} Fără TVA
                </div>
              </div>
              <mat-divider inset></mat-divider>
              <app-product-state [productState]="product.state"
                                 [productQuantity]="product.quantity"></app-product-state>
              <mat-chip-list aria-label="Vehicule">
                <mat-chip *ngFor="let carCategory of product.carCategories">
                  {{carCategory}}
                </mat-chip>
              </mat-chip-list>
              <mat-divider inset
                           class="my-2"></mat-divider>
              <div *ngIf="product.size">Dimensiune: {{product.size}}</div>
              <div *ngIf="product.profile">Profil: {{product.profile}}</div>
            </div>
          </div>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <div class="d-flex justify-content-between">
            <button *ngIf="options && options.showAddButton"
                    mat-raised-button
                    color="primary"
                    (click)="addCartProduct(product)">
              <span class="material-icons">
                add_shopping_cart
              </span>
              ADAUGĂ ÎN COȘ
            </button>
            <button *ngIf="options && options.showRemoveButton"
                    mat-stroked-button
                    color="primary"
                    (click)="removeCartProduct(product)">
              <span class="material-icons">
                delete
              </span>
              SCOATE DIN COȘ ( {{product.nbOfProducts}} )
            </button>
            <app-copy-link [pathUrl]="'/products/'+ product.id"></app-copy-link>
          </div>
        </mat-card-actions>
      </mat-card>
    </div> -->
  </div>
</ng-container>