@import "colors";

.product-container {
    .product-card {
        .product-card__img {
            img {
                cursor: pointer;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                width: 180px;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        .mat-card-content {
            .product-card__price {
                .price {
                    font-size: 1.6em;
                    font-weight: 600;
                }

                .sale {
                    color: $davys-grey;
                }
            }
        }
    }
}
