<app-admin-header [headerTitle]="dashboardSideNav.selectedOptions.selected[0]?.value"
                  (menuPressed)="sidenav.toggle()"></app-admin-header>
<mat-sidenav-container>
    <mat-sidenav #sidenav
                 mode="side"
                 [(opened)]="opened">
        <mat-selection-list #dashboardSideNav
                            [multiple]="false">
            <mat-list-option value="Dashboard"
                             [routerLink]="['/admin/dashboard']">
                <span mat-list-icon
                      class="material-icons">
                    dashboard
                </span>
                <div mat-line>Dashboard</div>
            </mat-list-option>

            <mat-list-option value="Comenzi"
                             [routerLink]="['/admin/orders']">
                <span mat-list-icon
                      class="material-icons">
                    request_quote
                </span>
                <div mat-line>Comenzi</div>
            </mat-list-option>

            <mat-list-option value="Anvelope"
                             selected
                             [routerLink]="['/admin/products']">
                <span mat-list-icon
                      class="material-icons">
                    support
                </span>
                <div mat-line>Anvelope</div>
            </mat-list-option>

            <mat-list-option value="Review-uri"
                             [routerLink]="['/admin/reviews']">
                <span mat-list-icon
                      class="material-icons">
                    reviews
                </span>
                <div mat-line>Review-uri</div>
            </mat-list-option>

        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- <ng-container [ngSwitch]="dashboardSideNav.selectedOptions.selected[0]?.value">
            <ng-container *ngSwitchCase="'Dashboard'">
                <router-outlet></router-outlet>

                <app-dashboard></app-dashboard>
            </ng-container>
            <ng-container *ngSwitchCase="'Comenzi'">
                <app-orders></app-orders>
            </ng-container>
            <ng-container *ngSwitchCase="'Anvelope'">
                <app-products [products]="products$ | async"
                              [loading]="loading$ | async"></app-products>
            </ng-container>
            <ng-container *ngSwitchCase="'Review-uri'">
                <app-reviews></app-reviews>
            </ng-container>
        </ng-container> -->
    </mat-sidenav-content>
</mat-sidenav-container>