<div [ngSwitch]="data.type">
    <span *ngSwitchCase="typeTemplate.DANGER">
        <i class="fas fa-bomb {{typeTemplate.DANGER}}"
           style="font-size: 1.3rem;"></i>
        {{data.message}}
        <button mat-button
                color="primary"
                (click)="snackBarRef.dismiss()">Închide</button>
    </span>
    <span *ngSwitchCase="typeTemplate.SUCCESS">
        <i class="fas fa-check-circle {{typeTemplate.SUCCESS}}"
           style="font-size: 1.3rem;"></i>
        {{data.message}}
        <button mat-button
                color="primary"
                (click)="snackBarRef.dismiss()">Închide</button>
    </span>
    <span *ngSwitchCase="typeTemplate.INFO">
        <i class="fas fa-info-circle {{typeTemplate.INFO}}"
           style="font-size: 1.3rem;"></i>
        {{data.message}}
        <button mat-button
                color="primary"
                (click)="snackBarRef.dismiss()">Închide</button>
    </span>
    <span *ngSwitchCase="typeTemplate.WARNING">
        <i class="fas fa-exclamation-triangle {{typeTemplate.WARNING}}"
           style="font-size: 1.3rem;"></i>
        {{data.message}}
        <button mat-button
                color="primary"
                (click)="snackBarRef.dismiss()">Închide</button>
    </span>
    <span *ngSwitchDefault>
        Mesaj Default
        <button mat-button
                color="primary"
                (click)="snackBarRef.dismiss()">Închide</button>
    </span>
</div>