.footer-container {
    background: #0062b0;
    color: white;

    p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5 !important;
        margin: 0;
    }
}

.sub-footer-container {
    background: linear-gradient(#e0e0e0, #f1f1f1);
    font-weight: bolder;
}
