<!-- <div class="row footer-container py-5">
  <div class="col-lg-6 text-center px-5">
    <app-logo-icon></app-logo-icon>
    <hr />
    <figure class="my-3 px-5">
      <blockquote class="blockquote">
        <p>
          Compania noastră este deja renumită în rândul transportatorilor din
          zonă, raportul calitate/preţ al reşapatelor în sistem KRAIBURG
          câştigând încrederea partenerilor pe termen lung.
        </p>
      </blockquote>
    </figure>
    <hr />
  </div>
  <div class="col-lg-3 col-md-6 mt-3">
    <div class="row">
      <div class="col-12 text-lg-start text-center">
        <h4 class="white ms-2">Informații</h4>
      </div>
      <div class="col-12 text-lg-start text-center">
        <button class="text-start mb-1" mat-button>
          <span class="material-icons"> store </span>
          Cum comand
        </button>
      </div>
      <div class="col-12 text-lg-start text-center">
        <button class="text-start mb-1" mat-button>
          <span class="material-icons"> analytics </span>
          Prelucrarea datelor
        </button>
      </div>
      <div class="col-12 text-lg-start text-center">
        <button class="text-start mb-1" mat-button>
          <span class="material-icons"> task </span>
          Termeni si conditii
        </button>
      </div>
      <div class="col-12 text-lg-start text-center">
        <button class="text-start mb-1" mat-button>
          <span class="material-icons"> policy </span>
          ANPC
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 mt-3">
    <div class="row">
      <div class="col-12 text-lg-start text-center">
        <h4 class="white ms-2">CONTACT</h4>
      </div>
      <div class="col-12 text-lg-start text-center">
        <a
          mat-button
          class="text-start mb-1"
          target="_blank"
          [href]="azetDtLocation"
        >
          <span class="material-icons"> place </span>
          Strada Zizinului Nr. 123G
        </a>
      </div>
      <div class="col-12 text-lg-start text-center">
        <a mat-button class="text-start mb-1" href="tel:+40737167631">
          <span class="material-icons"> call </span>
          (0737) 167 631
        </a>
      </div>
      <div class="col-12 text-lg-start text-center">
        <a mat-button class="text-start mb-1" href="tel:+40754369261">
          <span class="material-icons"> call </span>
          (0754) 369 261
        </a>
      </div>
      <div class="col-12 text-lg-start text-center">
        <a
          mat-button
          class="text-start mb-1"
          href="mailto: office@azet-resapare.ro"
        >
          <span class="material-icons"> email </span>
          office@azet-resapare.ro
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row sub-footer-container">
  <div class="col-12 text-center p-4">
    Copyright © Azet D.T. 2014 | Toate drepturile rezervate.
  </div>
</div> -->
