<mat-toolbar class="mat-elevation-z6 app-navbar"
             color="primary">
  <mat-toolbar-row>
    <button mat-button
            routerLink="/home">
      <span class="material-icons-two-tone">
        home
      </span>
      Acasă
    </button>
    <button mat-button
            routerLink="/products">
      <span class="material-icons-two-tone">
        support
      </span>
      Anvelope
    </button>
    <button mat-button
            routerLink="/contact">
      <span class="material-icons-two-tone">
        contact_page
      </span>
      Contact
    </button>
    <button mat-button
            routerLink="/administration">
      <span class="material-icons-two-tone">
        contact_page
      </span>
      Admin
    </button>
    <span class="app-navbar-spacer"></span>
    <button mat-button
            routerLink="/cart"
            [matBadge]="(cart$ | async)?.totalProducts"
            matBadgeColor="primary">
      <span class="material-icons-two-tone">
        shopping_cart
      </span>
      Cos
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar *ngIf="loading"
                  color="accent"
                  mode="indeterminate">
</mat-progress-bar>
