<mat-toolbar class="mat-elevation-z6 app-navbar"
             color="primary">
  <mat-toolbar-row>
    <button mat-icon-button
            (click)="clickOnMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button
            routerLink="/home">
      <span class="material-icons-two-tone">
        home
      </span>
      Acasă
    </button>
    <button mat-button
            routerLink="/products">
      <span class="material-icons-two-tone">
        support
      </span>
      Anvelope
    </button>
    <button mat-button
            routerLink="/contact">
      <span class="material-icons-two-tone">
        contact_page
      </span>
      Contact
    </button>
    <span class="app-navbar-spacer"></span>
    <button *ngIf="!ngrxLoginMethodsService.isAuthenticated"
            mat-stroked-button
            routerLink="/login"
            class="mr-3">
      <span class="material-icons-two-tone">
        login
      </span>
      Login
    </button>
    <button *ngIf="ngrxLoginMethodsService.isAuthenticated"
            mat-stroked-button
            routerLink="/profile"
            class="mr-3">
      <span class="material-icons-two-tone">
        face
      </span>
      Profil
    </button>
    <button mat-stroked-button
            routerLink="/cart"
            [matBadge]="(cart$ | async)?.totalProducts"
            matBadgeColor="primary"
            [ngbPopover]="popContent"
            triggers="mouseenter"
            [openDelay]="300"
            [autoClose]="'outside'"
            container="body"
            placement="bottom"
            popoverClass="cart-popover">
      <span class="material-icons-two-tone">
        shopping_cart
      </span>
      Cos
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-progress-bar *ngIf="loading"
                  color="accent"
                  mode="indeterminate">
</mat-progress-bar>

<ng-template #popContent>
  <ng-container *ngIf="cart$ | async as cart">
    <div class="row m-2 justify-content-center">
      <div *ngIf="cart.products && (cart.products.length > 0)"
           class="col-12 text-center">
        <div class="primary">ULTIMILE ANVELOPE ADĂUGATE</div>
      </div>
      <div *ngIf="cart.products && (cart.products.length > 0)"
           class="col-12 my-2">
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="cart.products && (cart.products.length === 0)"
           class="col-12 text-center">
        <div class="primary mb-2">
          Nu ai niciun produs în coș
        </div>
        <button mat-stroked-button
                routerLink="/products">
          <span class="material-icons-two-tone">
            support
          </span>
          Anvelope
        </button>
      </div>
      <div *ngIf="cart.products && (cart.products.length > 0)"
           class="col-12 cart-items-container">
        <mat-card *ngFor="let product of cart.products;trackBy: trackbyService.cart"
                  class="mb-1 mat-elevation-z4">
          <mat-card-header>
            <div mat-card-avatar>
              <button mat-icon-button
                      (click)="removeCartProduct(product)"
                      color="warn">
                <span class="material-icons-two-tone">
                  delete
                </span>
              </button>
            </div>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>
              <i class="fas fas fa-hand-holding-usd"></i>
              <span>&bull;</span>
              <span>{{product.price}} Lei</span>
              <span class="ml-5">x {{product.nbOfProducts}}</span>
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-12 my-2">
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="cart.products && (cart.products.length > 0)"
           class="col-12">
        Total: <i class="fas fas fa-hand-holding-usd"></i>
        <span>&bull;</span>
        <span>{{cart.totalPrice}} Lei</span>
        <span class="ml-5">x {{cart.totalProducts}}</span>
      </div>
      <div *ngIf="cart.products && (cart.products.length > 0)"
           class="col-12 text-center">
        <button mat-stroked-button
                routerLink="/cart">
          <span class="material-icons-two-tone">
            shopping_cart
          </span>
          Vezi detalii coș
        </button>
      </div>
    </div>
  </ng-container>
</ng-template>