<mat-toolbar class="mat-elevation-z6 app-navbar"
             color="primary">
    <mat-toolbar-row>
        <button mat-icon-button
                (click)="clickOnMenu()">
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-button
                routerLink="/products">
            <span class="material-icons-two-tone">
                support
            </span>
            Anvelope
        </button>
        <button mat-button
                routerLink="/about">
            <span class="material-icons-two-tone">
                contact_page
            </span>
            Contact
        </button>
        <span class="app-navbar-spacer"></span>
        <button mat-button
                routerLink="/orders">
            <span class="material-icons-two-tone">
                shopping_basket
            </span>
            Cos
        </button>
        <button mat-button
                routerLink="/login">
            <span class="material-icons-two-tone">
                account_circle
            </span>
            Login
        </button>
    </mat-toolbar-row>
</mat-toolbar>