.app-navbar {
  .app-navbar-spacer {
    flex: 1 1 auto;
  }

  .app-navbar-vertical-spacer {
    // border-left: 1px solid $accent;
    // border-right: 1px solid $accent;
    height: 42px;
  }

  .app-navbar-title {
    font-size: 21px;
  }

  .app-navbar-icon {
    font-size: 24px;
  }
}
