<div class="row justify-content-center m-3">
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
    <div class="col-3 mb-3">
        <app-product-card></app-product-card>
    </div>
</div>