<div class="row no-gutters justify-content-center h-100 py-2">
    <div class="col-11">
        <div class="row">
            <mat-icon fontSet="fas"
                      class="col-2"
                      fontIcon="fa-dice-d20"></mat-icon>
            <button mat-button
                    class="col-10"
                    routerLink="/home">
                Acasa
            </button>
            <mat-icon fontSet="fas"
                      class="col-2"
                      fontIcon="fa-dice-d20"></mat-icon>
            <button mat-button
                    class="col-10"
                    routerLink="/products">
                Produse
            </button>
            <mat-icon fontSet="fas"
                      class="col-2"
                      fontIcon="fa-dice-d20"></mat-icon>
            <button mat-button
                    class="col-10"
                    routerLink="/about">
                Contact
            </button>
            <mat-icon fontSet="fas"
                      class="col-2"
                      fontIcon="fa-dice-d20"></mat-icon>
            <button mat-button
                    class="col-10"
                    routerLink="/orders">
                Cos
            </button>
            <mat-icon fontSet="fas"
                      class="col-2"
                      fontIcon="fa-dice-d20"></mat-icon>
            <button mat-button
                    class="col-10"
                    routerLink="/login">
                Login
            </button>
        </div>
    </div>
    <button mat-button
            mat-raised-button
            color="primary"
            class="col-9 side-nav-container__bottom-button align-self-end"
            routerLink="/login">
        <mat-icon fontSet="fas"
                  fontIcon="fa-dice-d20"></mat-icon>
        CEVA LOGO FRUMOS AZET
    </button>
</div>