<div class="d-flex flex-column">
    <button mat-button
            routerLink="/home">
        Acasa
    </button>
    <button mat-button
            routerLink="/products">
        Produse
    </button>
    <button mat-button
            routerLink="/contact">
        Contact
    </button>
    <button mat-button
            routerLink="/cart">
        Cos
    </button>
    <button mat-button
            routerLink="/login">
        Login
    </button>
    <button mat-button
            mat-raised-button
            color="primary"
            class="align-self-end"
            routerLink="/login">
        <mat-icon fontSet="fas"
                  fontIcon="fa-dice-d20"></mat-icon>
        CEVA LOGO FRUMOS AZET
    </button>
</div>