<div *ngIf="cart$ | async as cart" class="container-fluid">
  <div
    class="row text-uppercase text-center text-color-honolulu-blue fs-26 fw-bold py-4 sticky-top bg-color-white mat-elevation-z6 mb-3"
  >
    <div class="col">Coș</div>
  </div>
  <ng-container *ngIf="cart.length > 0; else noProductsInCart">
    <div class="row align-items-center justify-content-center">
      <ng-container *ngFor="let cart of cart; let last = last">
        <div class="col-12 col-lg-2 text-center">
          <img
            [src]="cart.product.pictureSrc"
            class="rounded w-85 cursor-pointer"
            [alt]="cart.product.name"
            (click)="openProductDetails(cart.product)"
          />
        </div>
        <div class="col-9 col-lg-9">
          <div class="row">
            <div class="col-12 text-truncate">
              <span [title]="cart.product.name">{{ cart.product.name }} </span>
            </div>
            <div class="col-12 text-truncate fst-italic">
              <span [title]="cart.product.brand">
                {{ cart.product.brand }}
              </span>
            </div>
            <div class="col-12">
              <mat-form-field
                floatLabel="always"
                class="mt-4 w-85"
                appearance="outline"
              >
                <mat-label>Cantitate</mat-label>
                <input
                  mask="00"
                  [validation]="false"
                  [allowNegativeNumbers]="false"
                  matInput
                  type="string"
                  [(ngModel)]="cart.quantity"
                  [ngModelOptions]="{ standalone: true }"
                />
              </mat-form-field>
            </div>
            <div class="col-6 fw-700 mb-1">Total (cu TVA):</div>
            <div class="col-6 text-color-honolulu-blue fw-700 mb-1">
              <ng-container
                *ngIf="
                  cart.product.price.discount;
                  else totalProductsHasNoDiscountWithTax
                "
              >
                {{
                  cart.product.price
                    | aztDtCurrency : true : false : cart.quantity
                }}
              </ng-container>
              <ng-template #totalProductsHasNoDiscountWithTax>
                {{
                  cart.product.price
                    | aztDtCurrency : false : false : cart.quantity
                }}
              </ng-template>
            </div>
            <div class="col-6 fw-700">Total (fara TVA):</div>
            <div class="col-6 text-color-honolulu-blue fw-700">
              <ng-container
                *ngIf="
                  cart.product.price.discount;
                  else totalProductsHasNoDiscountWithoutTax
                "
              >
                {{
                  cart.product.price
                    | aztDtCurrency : true : true : cart.quantity
                }}
              </ng-container>
              <ng-template #totalProductsHasNoDiscountWithoutTax>
                {{
                  cart.product.price
                    | aztDtCurrency : false : true : cart.quantity
                }}
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-1 text-center">
          <button
            matTooltip="Sterge"
            mat-icon-button
            color="warn"
            class="d-flex"
            (click)="removeFromCart(cart.product)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider *ngIf="!last" class="my-3"></mat-divider>
      </ng-container>
    </div>

    <div class="row sticky-bottom bg-color-honolulu-blue text-color-white mt-3">
      <div class="col-lg-6 col-12">
        <button
          class="mt-4"
          mat-raised-button
          routerLink="/products"
          (click)="closeSidenavCart()"
        >
          Plateste
        </button>
      </div>
      <div class="col-lg-6 col-12">
        <div class="row py-4 text-end">
          <div class="col-6">TOTAL (cu TVA):</div>
          <div class="col-6">
            {{ cart | countTotalPrice }}
          </div>
          <mat-divider class="my-2"></mat-divider>
          <div class="col-6 fw-700">TOTAL (fara TVA):</div>
          <div class="col-6 fw-700">
            {{ cart | countTotalPrice : true }}
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noProductsInCart>
    <div class="text-center">
      <div class="d-flex">
        <mat-icon class="me-2 text-color-gargoyle-gas">warning</mat-icon>
        <div class="text-color-cadet">Coșul tău este în prezent gol.</div>
      </div>
      <button
        class="mt-4"
        mat-raised-button
        color="primary"
        routerLink="/products"
        (click)="closeSidenavCart()"
      >
        Inapoi la magazin
      </button>
    </div>
  </ng-template>
</div>
