<div *ngIf="cart$ | async as cart" class="container-fluid">
  <div
    class="row text-uppercase text-center text-color-honolulu-blue fs-26 fw-bold py-4 sticky-top bg-color-white mat-elevation-z6 mb-3"
  >
    <div class="col">Coș</div>
  </div>
  <ng-container *ngIf="cart.length > 0; else noProductsInCart">
    <div class="row align-items-center justify-content-center">
      <ng-container *ngFor="let cart of cart; let last = last">
        <div class="col-12 col-lg-2 text-center">
          <img
            [src]="cart.product.pictureSrc"
            class="rounded w-85 cursor-pointer"
            [alt]="cart.product.name"
            (click)="openProductDetails(cart.product)"
          />
        </div>
        <div class="col-9 col-lg-9">
          <div class="row">
            <div class="col-12 text-truncate">
              <span [title]="cart.product.name">{{ cart.product.name }} </span>
            </div>
            <div class="col-12 text-truncate fst-italic">
              <span [title]="cart.product.brand">
                {{ cart.product.brand }}
              </span>
            </div>
            <div class="col-12">
              <mat-form-field
                floatLabel="always"
                class="mt-4 w-85"
                appearance="outline"
              >
                <mat-label>Cantitate</mat-label>
                <input
                  mask="00"
                  [validation]="false"
                  [allowNegativeNumbers]="false"
                  matInput
                  type="string"
                  [(ngModel)]="cart.quantity"
                  [ngModelOptions]="{ standalone: true }"
                />
              </mat-form-field>
            </div>
            <div class="col-6">Total ( cu TVA ):</div>
            <div class="col-6">
              <ng-container
                *ngIf="
                  cart.product.price.discount;
                  else totalProductsHasNoDiscountWithTax
                "
              >
                <ng-container *ngIf="cart.product.price.withDiscountWithTax">
                  {{
                    cart.product.price.withDiscountWithTax * cart.quantity
                      | aztDtCurrency
                  }}
                </ng-container>
              </ng-container>
              <ng-template #totalProductsHasNoDiscountWithTax>
                {{ cart.product.price.withTax * cart.quantity | aztDtCurrency }}
              </ng-template>
            </div>
            <div class="col-6">Total ( fara TVA ):</div>
            <div class="col-6">
              <ng-container
                *ngIf="
                  cart.product.price.discount;
                  else totalProductsHasNoDiscountWithoutTax
                "
              >
                <ng-container *ngIf="cart.product.price.withDiscount">
                  {{
                    cart.product.price.withDiscount * cart.quantity
                      | aztDtCurrency
                  }}
                </ng-container>
              </ng-container>
              <ng-template #totalProductsHasNoDiscountWithoutTax>
                {{ cart.product.price.value * cart.quantity | aztDtCurrency }}
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col-1 text-center">
          <button
            mat-icon-button
            color="primary"
            class="d-flex"
            (click)="removeFromCart(cart.product)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <mat-divider *ngIf="!last" class="my-3"></mat-divider>
      </ng-container>
    </div>

    <div class="row justify-content-end text-end sticky-bottom bg-color-white">
      <div class="col-lg-6 col-12">
        <div class="row">
          <div class="col-6">Subtotal fără TVA</div>
          <div class="col-6">10.153,00 lei</div>
          <div class="col-6">Valoare TVA</div>
          <div class="col-6">1.929,07 lei</div>
          <div class="col-6">TOTAL</div>
          <div class="col-6">12.082,07 lei</div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noProductsInCart>
    <div class="text-center">
      <div class="d-flex">
        <mat-icon class="me-2 text-color-gargoyle-gas">warning</mat-icon>
        <div class="text-color-cadet">Coșul tău este în prezent gol.</div>
      </div>
      <button
        class="mt-4"
        mat-raised-button
        color="primary"
        routerLink="/products"
        (click)="closeSidenavCart()"
      >
        Inapoi la magazin
      </button>
    </div>
  </ng-template>
</div>
