<div class="row justify-content-center">
    <div class="col-lg-8 col-12">
        <mat-tab-group class="three-tabs-container"
                       mat-align-tabs="center">
            <mat-tab label="Dimensiune">
            </mat-tab>
            <mat-tab isActive="true"
                     label="Tip de anvelopa">
                <div class="row">
                    <div *ngFor="let item of tireListByType"
                         class="col-lg-4 col-sm-6 col-12 my-2">
                        <mat-card>
                            <img mat-card-image
                                 src="assets/pictures/tires/tire.png"
                                 [alt]="item.label">
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Tip de autovehicul">
                <div class="row">
                    <div *ngFor="let item of tireListByWeather"
                         class="col-lg-4 col-sm-6 col-12 my-2">
                        <mat-card>
                            <img mat-card-image
                                 src="assets/pictures/tires/tire1.jpg"
                                 [alt]="item.label">
                        </mat-card>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>