<div class="row justify-content-center">
    <div class="col-lg-8 col-12">
        <mat-tab-group class="three-tabs-container"
                       mat-align-tabs="center"
                       [selectedIndex]="0">
            <mat-tab label="Tyre by Size">
                <form [formGroup]="formGroup"
                      (ngSubmit)="onSubmit()">
                    <div class="row mt-3">
                        <div class="col-12 col-lg-9">
                            <div class="row">
                                <div class="col-12 col-sm-4">
                                    <mat-form-field class="w-100"
                                                    appearance="outline">
                                        <mat-label>Width</mat-label>
                                        <mat-select formControlName="width">
                                            <mat-option [value]="'205'">
                                                205
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <mat-form-field class="w-100"
                                                    appearance="outline">
                                        <mat-label>Height</mat-label>
                                        <mat-select formControlName="height">
                                            <mat-option [value]="'55'">
                                                55
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 col-sm-4">
                                    <mat-form-field class="w-100"
                                                    appearance="outline">
                                        <mat-label>Diameter</mat-label>
                                        <mat-select formControlName="diameter">
                                            <mat-option [value]="'R16'">
                                                R16
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-12 d-none d-lg-block text-center mb-3">
                                    <div class="tire-by-size-text">
                                        <span class="mx-2 width">{{ (width && width.value) ? width.value : '205'
                                            }}</span>
                                        <span class="mx-2 separator">/</span>
                                        <span class="mx-2 height">{{ (height && height.value) ? height.value : '55'
                                            }}</span>
                                        <span class="mx-2 diameter">{{ (diameter && diameter.value) ? diameter.value
                                            :
                                            'R16'
                                            }}</span>
                                        <span class="mx-2 speedIndex">{{ (speedIndex && speedIndex.value) ?
                                            speedIndex.value
                                            : '91V'
                                            }}</span>
                                    </div>
                                </div>
                                <div class="col-12 d-none d-lg-block text-center">
                                    <div class="tire-by-size-image"></div>
                                </div>
                                <div class="col-12 d-none d-lg-block mt-3">
                                    Find the right tyre size - that's how it works
                                </div>
                                <div class="col-12 d-none d-lg-block mb-3">
                                    Buy <b>tires</b> directly online or locally
                                </div>
                                <div class="col-12 d-none d-lg-block text-center">
                                    <button class="w-100"
                                            mat-raised-button
                                            type="submit"
                                            color="primary">455 Show Tyres</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-lg-12">
                                    <mat-form-field class="w-100"
                                                    appearance="outline">
                                        <mat-label>Vehicle type</mat-label>
                                        <mat-select formControlName="vehicleType">
                                            <mat-option [value]="'Vehicle'">
                                                Vehicle
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-lg-12">
                                    <mat-form-field class="w-100"
                                                    appearance="outline">
                                        <mat-label>Seasson</mat-label>
                                        <mat-select formControlName="season">
                                            <mat-option [value]="'Summer Tyre'">
                                                Summer Tyre
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-lg-12">
                                    <mat-form-field class="w-100"
                                                    appearance="outline"
                                                    matTooltip="Ceva informatii despre SPEED INDEX">
                                        <mat-label>Speed index</mat-label>
                                        <mat-select formControlName="speedIndex">
                                            <mat-option [value]="'All'">
                                                All
                                            </mat-option>
                                            <mat-option [value]="'91V'">
                                                91V
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-xs-12 col-sm-3 col-lg-12">
                                    <mat-form-field class="w-100"
                                                    appearance="outline">
                                        <mat-label>Manufacturer</mat-label>
                                        <mat-select formControlName="manufacturer">
                                            <mat-option [value]="'All'">
                                                All
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-lg-none text-center mb-3">
                            <div class="tire-by-size-text">
                                <span class="mx-2 width">{{ (width && width.value) ? width.value : '205'
                                    }}</span>
                                <span class="mx-2 separator">/</span>
                                <span class="mx-2 height">{{ (height && height.value) ? height.value : '55'
                                    }}</span>
                                <span class="mx-2 diameter">{{ (diameter && diameter.value) ? diameter.value
                                    :
                                    'R16'
                                    }}</span>
                                <span class="mx-2 speedIndex">{{ (speedIndex && speedIndex.value) ?
                                    speedIndex.value
                                    : '91V'
                                    }}</span>
                            </div>
                        </div>
                        <div class="col-12 d-lg-none text-center">
                            <div class="tire-by-size-image"></div>
                        </div>
                        <div class="col-12 d-lg-none mt-3">
                            Find the right tyre size - that's how it works
                        </div>
                        <div class="col-12 d-lg-none mb-3">
                            Buy <b>tires</b> directly online or locally
                        </div>
                        <div class="col-12 d-lg-none text-center">
                            <button class="w-100"
                                    mat-raised-button
                                    type="submit"
                                    color="primary">455 Show Tyres</button>
                        </div>
                    </div>
                </form>
            </mat-tab>
            <mat-tab label="Vehicle Type">
                <div class="row mt-3">
                    <div *ngFor="let item of tireListByType"
                         class="col-lg-4 col-6 my-2"
                         [routerLink]="item.routerLink">
                        <div class="tire-by">
                            <img src="./assets/pictures/truck/truck1.avif"
                                 class="rounded img-fluid"
                                 [alt]="item.value">
                            <div class="content">
                                <h1>{{item.label}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Tyre line">
                <div class="row mt-3">
                    <div *ngFor="let item of tireListByWeather"
                         class="col-lg-4 col-6 my-2"
                         [routerLink]="item.routerLink">
                        <div class="tire-by">
                            <img src="./assets/pictures/truck/truck1.avif"
                                 class="rounded img-fluid"
                                 [alt]="item.value">
                            <div class="content">
                                <h1>{{item.label}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>