<div class="row contact-header-container justify-content-between">
  <div class="col-4 align-self-center">
    <div routerLink="/home"
         matRipple
         class="p-3">
      <img class="contact-header-azet-dt-icon"
           src="/assets/pictures/azet-dt-icon.png"
           alt="Azet D.T.">
    </div>
  </div>
  <div class="col-7 align-self-center">
    <a mat-button
       style="font-size: 1.5rem;"
       href="tel:+40737167631">
      <span class="material-icons">phone</span>
      (0737) 167 631
    </a>
    <button mat-flat-button
            style="font-size: 1.5rem;"
            color="primary">
      <span class="material-icons-two-tone">
        construction
      </span>
      PROGRAMEAZĂ ÎN SERVICE
    </button>
  </div>
</div>
