<mat-toolbar class="mat-elevation-z6 azet-dt-navbar"
             color="primary">
  <mat-toolbar-row class="section-1">
    <button mat-icon-button
            class="mx-1 d-lg-none d-xs-inline">
      <span class="material-icons-round">menu</span>
    </button>
    <div class="section-1__logo mr-3">
      <app-logo-icon></app-logo-icon>
    </div>
    <div class="section-1__nav_btn">
      <button mat-raised-button
              class="mx-1"
              routerLinkActive="mat-accent"
              routerLink="/home">
        <span class="material-icons-round">home</span>
        <span>ACASĂ</span>
      </button>
      <button mat-raised-button
              class="mx-1"
              routerLinkActive="mat-accent"
              routerLink="/products">
        <span class="material-icons-round">support</span>
        <span>ANVELOPE</span>
      </button>
      <button mat-raised-button
              class="mx-1"
              routerLinkActive="mat-accent"
              routerLink="/contact">
        <span class="material-icons-round">contact_page</span>
        <span>CONTACT</span>
      </button>
      <button mat-raised-button
              routerLink="/cart"
              [matBadge]="(cart$ | async)?.totalProducts"
              matBadgeColor="primary">
        <span class="material-icons-round">shopping_cart</span>
        <span>COȘ</span>
      </button>
    </div>
    <span class="azet-dt-navbar-spacer"></span>
    <div class="section-1__info">
      <a mat-button
         href="tel:+40737167631">
        <div class="row no-gutters">
          <div class="col-12 col-lg-3 align-self-center">
            <span class="material-icons text-success">phone</span>
          </div>
          <div class="col-9 text-left d-none d-lg-block">
            <div class="row no-gutters">
              <div class="col-12">CONTACT</div>
              <div class="col-12 section-1__info__text">(0737) 167 631</div>
            </div>
          </div>
        </div>
      </a>
      <button mat-button>
        <div class="row no-gutters">
          <div class="col-12 col-lg-3 align-self-center">
            <span class="material-icons text-warning">construction</span>
          </div>
          <div class="col-9 text-left d-none d-lg-block">
            <div class="row no-gutters">
              <div class="col-12">PROGRAMEAZĂ</div>
              <div class="col-12 section-1__info__text">ÎN SERVICE</div>
            </div>
          </div>
        </div>
      </button>
      <a mat-button
         target="_blank"
         [href]="azetDtLocation">
        <div class="row no-gutters">
          <div class="col-12 col-lg-3 align-self-center">
            <span class="material-icons text-primary">place</span>
          </div>
          <div class="col-9 text-left d-none d-lg-block">
            <div class="row no-gutters">
              <div class="col-12">LOCAȚIE</div>
              <div class="col-12 section-1__info__text">
                Brașov, România
              </div>
            </div>
          </div>
        </div>
      </a>
      <button mat-button>
        <div class="row no-gutters">
          <div class="col-12 col-lg-3 align-self-center">
            <span class="material-icons text-danger">schedule</span>
          </div>
          <div class="col-9 text-left d-none d-lg-block">
            <div class="row no-gutters">
              <div class="col-12">PROGRAM</div>
              <div class="col-12 section-1__info__text">L-V: 08-17</div>
            </div>
          </div>
        </div>
      </button>
    </div>
    <mat-slide-toggle color="accent"
                      [checked]="darkMode$ | async"
                      (change)="setDarkMode($event)">
      <span *ngIf="(darkMode$ | async)"
            class="material-icons">light_mode</span>
      <span *ngIf="!(darkMode$ | async)"
            class="material-icons">dark_mode</span>
    </mat-slide-toggle>
  </mat-toolbar-row>
  <mat-toolbar-row class="section-2 border-top border-secondary">
    <button mat-raised-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/home">
      <span class="material-icons-round">home</span>
      <span>ACASĂ</span>
    </button>
    <button mat-raised-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/products">
      <span class="material-icons-round">support</span>
      <span>ANVELOPE</span>
    </button>
    <button mat-raised-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/contact">
      <span class="material-icons-round">contact_page</span>
      <span>CONTACT</span>
    </button>
    <button mat-raised-button
            routerLink="/cart"
            [matBadge]="(cart$ | async)?.totalProducts"
            matBadgeColor="primary">
      <span class="material-icons-round">shopping_cart</span>
      <span>COȘ</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
