<mat-toolbar class="mat-elevation-z6 azet-dt-navbar"
             color="primary">
  <mat-toolbar-row class="section-1 border-bottom border-secondary">
    <div class="section-1__logo mr-5">
      <div routerLink="/home"
           matRipple
           class="pb-2">
        <img src="/assets/pictures/azet-dt-icon.png"
             alt="Azet D.T.">
      </div>
    </div>
    <div class="section-1__info">
      <a mat-button
         href="tel:+40737167631">
        <div class="row no-gutters">
          <div class="col-3 align-self-center">
            <span class="material-icons">phone</span>
          </div>
          <div class="col-9 text-left">
            <div class="row no-gutters">
              <div class="col-12"><strong>CONTACT</strong></div>
              <div class="col-12 section-1__info__text">(0737) 167 631</div>
            </div>
          </div>
        </div>
      </a>
      <span class="p-3">&#8226;</span>
      <button mat-button>
        <div class="row no-gutters">
          <div class="col-3 align-self-center">
            <span class="material-icons">construction</span>
          </div>
          <div class="col-9 text-left">
            <div class="row no-gutters">
              <div class="col-12"><strong>PROGRAMEAZĂ</strong></div>
              <div class="col-12 section-1__info__text">ÎN SERVICE</div>
            </div>
          </div>
        </div>
      </button>
      <span class="p-3">&#8226;</span>
      <a mat-button
         target="_blank"
         [href]="azetDtLocation">
        <div class="row no-gutters">
          <div class="col-3 align-self-center">
            <span class="material-icons">place</span>
          </div>
          <div class="col-9 text-left">
            <div class="row no-gutters">
              <div class="col-12"><strong>LOCAȚIE</strong></div>
              <div class="col-12 section-1__info__text">
                Brașov, România
              </div>
            </div>
          </div>
        </div>
      </a>
      <span class="p-3">&#8226;</span>
      <button mat-button>
        <div class="row no-gutters">
          <div class="col-3 align-self-center">
            <span class="material-icons">schedule</span>
          </div>
          <div class="col-9 text-left">
            <div class="row no-gutters">
              <div class="col-12"><strong>PROGRAM</strong></div>
              <div class="col-12 section-1__info__text">L-V: 08-17</div>
            </div>
          </div>
        </div>
      </button>
    </div>
    <div class="section-1__social">
      <app-social-media-icons></app-social-media-icons>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="section-2">
    <button mat-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/home">
      <span class="material-icons-round">home</span>
      <span>ACASĂ</span>
    </button>
    <button mat-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/products">
      <span class="material-icons-round">support</span>
      <span>ANVELOPE</span>
    </button>
    <button mat-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/contact">
      <span class="material-icons-round">contact_page</span>
      <span>CONTACT</span>
    </button>
    <button mat-button
            routerLink="/cart"
            [matBadge]="(cart$ | async)?.totalProducts"
            matBadgeColor="primary"
            color="accent">
      <span class="material-icons-round">shopping_cart</span>
      <span>COȘ</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>