<mat-toolbar #navbar
             class="mat-elevation-z6 azet-dt-navbar"
             color="primary">
  <mat-toolbar-row class="section-1">
    <button mat-mini-fab
            class="azet-dt-navbar-menu-btn mx-1">
      <span class="material-icons-round">
        menu
      </span>
    </button>
    <div routerLink="/home"
         matRipple
         class="azet-dt-navbar-icon-btn mr-5">
      <img src="/assets/pictures/azet-dt-icon.png"
           alt="Azet D.T.">
    </div>
    <button [@fadeInFadeOut]="(activateAnimation) ? 'fadeIn': 'fadeOut'"
            mat-flat-button
            class="azet-dt-navbar-home-btn mx-1"
            routerLinkActive="mat-accent"
            routerLink="/home">
      <span class="material-icons-round">
        home
      </span>
      ACASĂ
    </button>
    <button [@fadeInFadeOut]="(activateAnimation) ? 'fadeIn': 'fadeOut'"
            mat-flat-button
            class="azet-dt-navbar-products-btn mx-1"
            routerLinkActive="mat-accent"
            routerLink="/products">
      <span class="material-icons-round">
        support
      </span>
      ANVELOPE
    </button>
    <button [@fadeInFadeOut]="(activateAnimation) ? 'fadeIn': 'fadeOut'"
            mat-flat-button
            class="azet-dt-navbar-contact-btn mx-1"
            routerLinkActive="mat-accent"
            routerLink="/contact">
      <span class="material-icons-round">
        contact_page
      </span>
      CONTACT
    </button>
    <span class="azet-dt-navbar-spacer"></span>
    <a [@fadeInFadeOut]="(activateAnimation) ? 'fadeIn': 'fadeOut'"
       mat-button
       class="azet-dt-navbar-phone-btn"
       href="tel:+40737167631">
      <span class="material-icons">phone</span>
      (0737) 167 631
    </a>
    <button [@fadeInFadeOut]="(activateAnimation) ? 'fadeIn': 'fadeOut'"
            mat-flat-button
            class="azet-dt-navbar-service-btn mx-1">
      <span class="material-icons-two-tone">
        construction
      </span>
      PROGRAMEAZĂ ÎN SERVICE
    </button>
    <button [@fadeInFadeOut]="(activateAnimation) ? 'fadeIn': 'fadeOut'"
            mat-flat-button
            routerLink="/cart"
            [matBadge]="(cart$ | async)?.totalProducts"
            matBadgeColor="primary"
            color="accent"
            class="azet-dt-navbar-cart-btn">
      <span class="material-icons-round">
        shopping_cart
      </span>
      COȘ
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar #subnavbar
             class="azet-dt-subnavbar"
             color="primary">
  <mat-toolbar-row class="section-2">
    <button mat-flat-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/home">
      <span class="material-icons-round">
        home
      </span>
      ACASĂ
    </button>
    <button mat-flat-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/products">
      <span class="material-icons-round">
        support
      </span>
      ANVELOPE
    </button>
    <button mat-flat-button
            class="mx-1"
            routerLinkActive="mat-accent"
            routerLink="/contact">
      <span class="material-icons-round">
        contact_page
      </span>
      CONTACT
    </button>
    <span class="azet-dt-navbar-spacer"></span>
    <a mat-button
       href="tel:+40737167631">
      <span class="material-icons">phone</span>
      (0737) 167 631
    </a>
    <button mat-flat-button
            class="mx-1">
      <span class="material-icons-two-tone">
        construction
      </span>
      PROGRAMEAZĂ ÎN SERVICE
    </button>
    <button mat-flat-button
            routerLink="/cart"
            [matBadge]="(cart$ | async)?.totalProducts"
            matBadgeColor="primary"
            color="accent">
      <span class="material-icons-round">
        shopping_cart
      </span>
      COȘ
    </button>
  </mat-toolbar-row>
</mat-toolbar>
