<footer class="text-center mt-5">
  <section>
    <div class="container text-center text-md-start pt-5 border-bottom-0 border rounded">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h3 class="text-uppercase mb-4">
            <app-logo-icon></app-logo-icon>
          </h3>
          <p>
            Compania noastră este deja renumită în rândul transportatorilor din zonă, raportul calitate/preţ
            al reşapatelor în sistem KRAIBURG câştigând încrederea partenerilor pe termen lung.
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h3 class="text-uppercase text-left">
            Informații
          </h3>
          <div class="row">
            <button mat-button
                    class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                store
              </span>
              Cum comand
            </button>
            <button mat-button
                    class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                analytics
              </span>
              Prelucrarea datelor
            </button>
            <button mat-button
                    class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                task
              </span>
              Termeni si conditii
            </button>
            <button mat-button
                    class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                policy
              </span>
              ANPC
            </button>
          </div>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h3 class="text-uppercase text-left">
            Pagini
          </h3>
          <div class="row">
            <button mat-button
                    routerLink="/home"
                    class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                home
              </span>
              Acasă
            </button>
            <button mat-button
                    routerLink="/products"
                    class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                support
              </span>
              Anvelope
            </button>
            <button mat-button
                    routerLink="/contact"
                    class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                contact_page
              </span>
              Contact
            </button>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h3 class="text-uppercase text-left">
            CONTACT
          </h3>
          <div class="row">
            <a mat-button
               target="_blank"
               [href]="azetDtLocation"
               class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                place
              </span>
              Strada Zizinului Nr. 123G
            </a>
            <a mat-button
               href="tel:+40737167631"
               class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                call
              </span>
              (0737) 167 631
            </a>
            <a mat-button
               href="tel:+40754369261"
               class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                call
              </span>
              (0754) 369 261
            </a>
            <a mat-button
               href="mailto: office@azet-resapare.ro"
               class="col-12 text-left mb-1">
              <span class="material-icons-two-tone">
                email
              </span>
              office@azet-resapare.ro
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <mat-toolbar class="text-center mat-elevation-z6">
    <mat-toolbar-row class="justify-content-center">
      Copyright © Azet D.T. 2014 | Toate drepturile rezervate.
    </mat-toolbar-row>
  </mat-toolbar>
</footer>