<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <button mat-icon-button
            color="primary"
            (click)="sidenav.toggle()">
      <span class="material-icons-two-tone">
        menu
      </span>
    </button>
    <h1 class="ml-2">{{dashboardSideNav.selectedOptions.selected[0]?.value | uppercase}}</h1>
    <span class="admin-dashboard-navbar-spacer"></span>
    <button mat-stroked-button
            routerLink="/home">
      <span class="material-icons-two-tone">
        home
      </span>
      Către AZET D.T. Website
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-selection-list #dashboardSideNav
                        [multiple]="false">

      <mat-list-option value="Dashboard">
        <span mat-list-icon
              class="material-icons">
          dashboard
        </span>
        <div mat-line>Dashboard</div>
      </mat-list-option>

      <mat-list-option value="Comenzi">
        <span mat-list-icon
              class="material-icons">
          request_quote
        </span>
        <div mat-line>Comenzi</div>
      </mat-list-option>

      <mat-list-option value="Anvelope"
                       selected>
        <span mat-list-icon
              class="material-icons">
          support
        </span>
        <div mat-line>Anvelope</div>
      </mat-list-option>

      <mat-list-option value="Review-uri">
        <span mat-list-icon
              class="material-icons">
          reviews
        </span>
        <div mat-line>Review-uri</div>
      </mat-list-option>

    </mat-selection-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-fluid">
      <ng-container [ngSwitch]="dashboardSideNav.selectedOptions.selected[0]?.value">
        <ng-container *ngSwitchCase="'Dashboard'">
          <app-dashboard></app-dashboard>
        </ng-container>
        <ng-container *ngSwitchCase="'Comenzi'">
          <app-orders></app-orders>
        </ng-container>
        <ng-container *ngSwitchCase="'Anvelope'">
          <app-products [products]="products$ | async"
                        [loading]="loading$ | async"></app-products>
        </ng-container>
        <ng-container *ngSwitchCase="'Review-uri'">
          <app-reviews></app-reviews>
        </ng-container>
      </ng-container>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>