<app-shop-header (openSideNavDrawer)="snav.toggle()"></app-shop-header>

<mat-sidenav-container class="azet-dt-sidenav-container"
                       [style.marginTop.px]="92">
  <mat-sidenav #snav
               [mode]="'over'"
               [fixedInViewport]="true"
               fixedTopGap="92">
    <mat-nav-list>
      <a *ngFor="let item of azetDtMenuHeaderItems"
         mat-list-item
         class="mt-1"
         routerLinkActive="mat-accent"
         [routerLink]="item.routerLink">
        <span class="material-icons-round">{{item.icon}}</span>
        <span>{{item.label}}</span>
        <mat-chip-list *ngIf="(item.value === 'cart')"
                       class="ml-3">
          <mat-chip color="accent"
                    selected>{{(cart$ | async)?.totalProducts}}</mat-chip>
        </mat-chip-list>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item
         class="mt-1"
         href="tel:+40737167631">
        <span class="material-icons text-success">phone</span>
        <span>(0737) 167 631</span>
      </a>
      <a mat-list-item
         class="mt-1">
        <span class="material-icons text-warning">construction</span>
        <span>PROGRAMEAZĂ ÎN SERVICE</span>
      </a>
      <a mat-list-item
         class="mt-1"
         target="_blank"
         [href]="azetDtLocation">
        <span class="material-icons text-primary">place</span>
        <span>LOCAȚIE</span>
      </a>
      <a mat-list-item
         class="mt-1">
        <span class="material-icons text-danger">schedule</span>
        <span>PROGRAM</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="container">
      <router-outlet></router-outlet>
    </main>

    <app-shop-footer></app-shop-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
