<div class="row products-knwoledge-container">
  <div class="col-12">
    <mat-toolbar class="products-knwoledge-header mat-elevation-z6"
                 color="primary">
      <mat-toolbar-row>
        <span>Informații utile</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div class="col-12">
    <div class="row p-4">
      <div class="col-4">
        <mat-card>
          <img mat-card-image
               src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="azet-dt-border-left pl-2">
            <h1>Tire size</h1>
            <p>Selecting the right tire size for your car.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button
                    color="primary">Mai mult ...</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <img mat-card-image
               src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="azet-dt-border-left pl-2">
            <h1>Tire size</h1>
            <p>Selecting the right tire size for your car.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button
                    color="primary">Mai mult ...</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <img mat-card-image
               src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="azet-dt-border-left pl-2">
            <h1>Tire size</h1>
            <p>Selecting the right tire size for your car.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button
                    color="primary">Mai mult ...</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <img mat-card-image
               src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="azet-dt-border-left pl-2">
            <h1>Tire size</h1>
            <p>Selecting the right tire size for your car.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button
                    color="primary">Mai mult ...</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <img mat-card-image
               src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="azet-dt-border-left pl-2">
            <h1>Tire size</h1>
            <p>Selecting the right tire size for your car.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button
                    color="primary">Mai mult ...</button>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col-4">
        <mat-card>
          <img mat-card-image
               src="https://material.angular.io/assets/img/examples/shiba2.jpg"
               alt="Photo of a Shiba Inu">
          <mat-card-content class="azet-dt-border-left pl-2">
            <h1>Tire size</h1>
            <p>Selecting the right tire size for your car.</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button
                    color="primary">Mai mult ...</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>