<div class="row contact-header-container justify-content-between mat-elevation-z6 my-4">
    <div class="col-4 mx-2 p-2 align-self-center"
         routerLink="/home"
         matRipple>
        <img class="contact-header-azet-dt-icon"
             src="/assets/pictures/azet-dt-icon.png"
             alt="Azet D.T.">
    </div>
    <div class="col-7 align-self-center">
        <a mat-button
           class="mx-2"
           style="font-size: 1.5rem;"
           href="tel:+40737167631">
            <span class="material-icons">phone</span>
            (0737) 167 631
        </a>
        <button mat-flat-button
                style="font-size: 1.5rem;"
                color="primary">
            <span class="material-icons-two-tone">
                construction
            </span>
            PROGRAMEAZĂ ÎN SERVICE
        </button>
    </div>
</div>