<div [ngSwitch]="productState"
     class="product-card__stock my-2">
    <div *ngSwitchCase="stateTemplate.STOCK"
         [class]="productState">
        <span>
            <i class="far fa-check-circle"></i>
            Stoc
        </span>
        <span class="quantity"
              matTooltipPosition="right"
              matTooltip="Vă anunțăm că numărul afișat este unul informativ, pentru mai multe detalii sunați persoana de contact.">
            <i>( > {{productQuantity}})</i>
        </span>
    </div>
    <div *ngSwitchCase="stateTemplate.COMMAND"
         [class]="productState">
        <span matTooltipPosition="right"
              matTooltip="Acest produs se află în stoc-ul distribuitorului.">
            <i class="far fa-question-circle"></i>
            Comandă
        </span>
    </div>
    <div *ngSwitchCase="stateTemplate.NOT_IN_STOCK"
         [class]="productState">>
        <span matTooltipPosition="right"
              matTooltip="Acest produs NU se află în stoc, pentru mai multe detalii sunați persoana de contact.">
            <i class="far fa-times-circle"></i>
            Nu se află în stoc
        </span>
    </div>
    <div *ngSwitchDefault>
        <span matTooltipPosition="right"
              matTooltip="Pentru mai multe detalii sunați persoana de contact.">
            <i class="far fa-user-circle"></i>
            Sună la:
            <a mat-button
               href="tel:+40737167631">(0737) 167 631</a>
        </span>
    </div>
</div>