<app-header></app-header>
<mat-sidenav-container autosize>
    <mat-sidenav 
                 mode="side"
                 [(opened)]="opened">
        <mat-selection-list [multiple]="false">
            <mat-list-option value="Dashboard"
                             [routerLink]="['/admin/dashboard']">
                <span mat-list-icon
                      class="material-icons">
                    dashboard
                </span>
                <div mat-line>Dashboard</div>
            </mat-list-option>

            <mat-list-option value="Comenzi"
                             [routerLink]="['/admin/orders']">
                <span mat-list-icon
                      class="material-icons">
                    request_quote
                </span>
                <div mat-line>Comenzi</div>
            </mat-list-option>

            <mat-list-option value="Anvelope"
                             selected
                             [routerLink]="['/admin/products']">
                <span mat-list-icon
                      class="material-icons">
                    support
                </span>
                <div mat-line>Anvelope</div>
            </mat-list-option>

        </mat-selection-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>