<div class="row">
    <div class="col-12">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://player.vimeo.com/video/595738554?background=1&amp;controls=0&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;muted=true&amp;sidedock=0"
                    width="1280"
                    height="400"
                    frameborder="0"
                    allow="autoplay"
                    muted="true"
                    allowfullscreen=""
                    id="vimeo-player"
                    data-ready="true"
                    class="embed-responsive-item"></iframe>
        </div>
        <!-- <video class="embed-responsive embed-responsive-16by9"
               autoplay
               loop
               controls
               muted>
            <source src="https://mdbootstrap.com/img/video/Sail-Away.mp4"
                    type="video/mp4" />
        </video> -->
    </div>
</div>