.shop-home {
    background-image: url("/assets/pictures/tires-pictures/tire_2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
}
