<mat-list>
    <mat-list-item matRipple
                   routerLinkActive="text-color-honolulu-blue bg-color-transparent"
                   routerLink="/home">
        <div class="d-flex">
            <mat-icon color="primary">home</mat-icon>
            <span matLine
                  class="text-uppercase fw-400 ms-3">Acasa</span>
        </div>
    </mat-list-item>
    <mat-list-item matRipple
                   routerLinkActive="text-color-honolulu-blue bg-color-transparent"
                   routerLink="/products">
        <div class="d-flex">
            <mat-icon color="primary">trip_origin</mat-icon>
            <span matLine
                  class="text-uppercase fw-400 ms-3">Anvelope</span>
        </div>
    </mat-list-item>
    <mat-list-item matRipple
                   routerLinkActive="text-color-honolulu-blue bg-color-transparent"
                   routerLink="/contact">
        <div class="d-flex">
            <mat-icon color="primary">contact_page</mat-icon>
            <span matLine
                  class="text-uppercase fw-400 ms-3">Contact</span>
        </div>
    </mat-list-item>
    <mat-list-item matRipple
                   routerLinkActive="text-color-honolulu-blue bg-color-transparent"
                   routerLink="/cart">
        <div class="d-flex">
            <mat-icon color="primary">shopping_cart</mat-icon>
            <span matLine
                  class="text-uppercase fw-400 ms-3">Cosul meu</span>
        </div>
    </mat-list-item>
</mat-list>